/*====Estrutura Geral====*/
html{
	height: 100vh;	
}				
body{
	margin: 0;
	height: 100vh;
	background-color: #ECFDF0;
}
h1{
	text-align:left;
	color: #B9DCBB;
	font-family: helvetica;
}
div#cabecalho{
	margin-left: 3px;
}

/*====Menu Superior====*/
nav#menu_superior ul{
	background-color: #E1F0DB;
	list-style: none;
	margin: 0px;
	padding-left: 0px;
	border-bottom: 0.5px solid  #999999;
	border-top: 0.5px solid  #999999;
}
nav#menu_superior li{
	display: inline-block;
	color: #999999;
	font-family: helvetica;
	padding: 10px;
}
nav#menu_superior li:hover{
	background-color: #606060;
}
nav#menu_superior a{
	color: grey;
	text-decoration: none;
	cursor: default;
}
nav#menu_superior a:hover{
	color: white;
}
.alinhaDireita{
	float: right;
}

/*====Menu Direita====*/
nav#menu_direita {
	background-color: #E1F0DB;
	border: 0.5px solid #999999;
	border-top-right-radius: 5px;
	font-family: helvetica;
	width:180px;
	float: left;
	margin-top: 10px;
	height: 150vh;
}
nav#menu_direta ul{
	/*padding-left: -0px;*/
}
nav#menu_direita li{
	color: #999999;
	list-style: none;
	padding: 3px;
}
nav#menu_direita li:hover{
	background-color: #606060;
}
nav#menu_direita a{
	cursor: default;
	color: grey;
	text-decoration: none;
	line-height: 1.5;
}
nav#menu_direita a:hover{
	color: white;
}
.active{
	background-color: #606060;
}
.active a{
	color: white !important;
}
.preencher{
	background-color: #B9DCBB;
	border: 0.5px solid #999999;
	border-top-right-radius: 5px;
	padding: 3px;
	opacity: 0.75;
}
.icone_menu{
	float: right;
	max-width:20px;
    max-height:30px;
    width: auto;
    height: auto;
    opacity: 0.5;
}
.icone_menu_opaco{
	float: right;
	max-width:20px;
    max-height:30px;
    width: auto;
    height: auto;
	opacity: 150;
}
.negrito{
	font-weight:bold;
}

/*====Div dos filtros====*/
div#filtros{
	margin-left:200px;
	margin-top: 10px;
	color:Black;
	font-family: helvetica;
	background-color: #ECFCF1;
}
.combobox {
	padding: 3px;
	font-size: 14px;
	border-width: 1px;
	border-color: #999999;
	background-color: #B9DCBB;
	color: grey;
	border-style: solid;
	border-radius: 7px;
	width:99%;
	opacity: 0.75;
	text-align-last: center;
}
select#campus{
	width: 79%;
}
select#periodo{
	width: 20%;
}
.combobox:focus {
	outline:none;
}

/*====Div Dashboards====*/
div#dashboards {
	/*border:1px solid black; */
	margin-left: 200px;
	color:Black;
	font-family: helvetica;
	background-color: #ECFCF1;
	padding-right: 10px;
}
.grafico{
	width: 640px;
	height: 300px;
	margin-top: 28px;
}
.alinha_grafico_direita{
	display: inline-block;
	float: right;
}
.alinha_grafico_esquerda{
	display: inline-block;
	float: left;
}

/*====Tabela Detalhes====*/
div#table{
	margin-left: 200px;
	margin-top: 10px;
	margin-bottom: 10px;
	color:Black;
	font-family: helvetica;
	font-size: 14px;
	background-color: #ECFCF1;
	padding: 10px 10px 10px 10px;
	/*display: inline-block; esse comando centraliza
	float: center;			/*esse comando centraliza*/*/
}
table, th, td {
	border: 1px solid #999999;
	border-collapse: collapse;
}
th {
	height: 50px;
	background-color: rgba(185, 220, 187, 0.7); /*Equivalente a cor #B9DCBB com 0.75 de opacity*/
}
td {
	padding: 3px;
}

tr:nth-child(even) {
	background-color: #D3F3D4;
}

tr:hover{
	background-color: #DFE8DB;
}

/*====Logo IFRS====*/
.imagem{
	float: right;
}

/*====Rodapé====*/
#rodape{
	margin-left: 3px;
	clear:both;
	text-align:left;
	font-family: helvetica;
	font-size: small;
	color: grey;
	padding-top: 10px;
	padding-bottom: 5px;
}

