/*====Estrutura Geral====*/
html, body {
	position: relative;
    overflow: auto;
    height: 100%;
    margin: 0px; 
    padding: 0px;
}
body{
	background-color: #ECFDF0;
	padding-left: 5px; /*sugestão marcelo*/
	padding-right: 5px; /*sugestão marcelo*/
}
div#cabecalho{
	margin-left: 3px;
}

/*====Menu Superior====*/
nav#menu_superior ul{
	background-color: #E1F0DB;
	list-style: none;
	margin: 0px;
	padding-left: 0px;
	border-bottom: 0.5px solid  #999999;
	border-top: 0.5px solid  #999999;
}
nav#menu_superior li{
	display: inline-block;
	color: #999999;
	font-family: helvetica;
}
nav#menu_superior li:hover{
	background-color: #606060;
}
nav#menu_superior a{
	/*color: grey;*/ /*cor original*/
	color: black;
	text-decoration: none;
	cursor: default;
	display: block; /*isso faz a tag "a" ter a mesma largura do "a", consequentemente tudo fica como link clicável.*/
	padding: 10px;
}
nav#menu_superior a:hover{
	color: white;
}
.alinhaDireita{
	float: right;
}

/*====Menu Esquerda====*/
nav#menu_esquerda {
	background-color: #E1F0DB;
	border: 0.5px solid #999999;
	/*border-top-right-radius: 5px;*/ /*com o padding-left: (sugestão do marcelo) o radius tem q ser aplicado em todos os cantos*/
	border-radius: 5px;
	font-family: helvetica;
	width:180px;
	float: left;
	margin-top: 10px;
	height: 1098.8px; /*altura inicial da página*/
}
nav#menu_esquerda ul{
	padding-left: 2px;
}
nav#menu_esquerda li{
	color: #999999;
	list-style: none;
}
nav#menu_esquerda li:hover{
	background-color: #606060;
}
nav#menu_esquerda a{
	cursor: default;
	/*color: grey;*/ /*cor original*/
	color: black;
	text-decoration: none;
	line-height: 1.5;
	display: block; /*isso faz a tag "a" ter a mesma largura do "li", consequentemente tudo fica como link clicável.*/
	padding: 3px;
}
nav#menu_esquerda a:hover{
	color: white;
}
.active{
	background-color: #606060;
}
.active a{
	color: white !important;
}
.preencher{
	background-color: #B9DCBB;
	border: 0.5px solid #999999;
	border-top-right-radius: 5px;
	padding: 3px;
	/*opacity: 0.75;*/ /*sugestão marcelo remover*/
}
.icone_menu{
	float: right;
	max-width:20px;
    opacity: 0.5;
}
.icone_menu_opaco{
	float: right;
	max-width:20px;
	opacity: 150;
}
.negrito{
	font-weight:bold;
}

/*====Div dos filtros====*/
div#filtros{
	margin-left:200px;
	margin-top: 10px;
	color:Black;
	font-family: helvetica;
	background-color: #ECFCF1;
}
.combobox {
	padding: 3px;
	font-size: 14px;
	border-width: 1px;
	border-color: #999999;
	background-color: #B9DCBB;
	/*color: grey;*/ /*cor original*/
	color: black;
	border-style: solid;
	border-radius: 7px;
	width:97%;
	/*opacity: 0.75;*/ /*sugestão marcelo remover*/
	text-align-last: center;
}
select#campus{
	width: 76%;
}
select#periodo{
	width: 20.6%;
}
.combobox:focus {
	outline:none;
}

/*====Div Dashboards====*/
div#dashboards {
	margin-left: 200px;
	color:Black;
	font-family: helvetica;
	background-color: #ECFCF1;
	overflow: hidden;
}

.grafico{
	width: 620px;
	height: 350px;
	margin-top: 28px;
}

.grafico svg{ /*deixa o retangulo do gráfico com bordas arredondadas*/
	border-radius: 7px;
	border: solid;
	border-color: grey;
	border-width: 1px;
}

.alinha_grafico_direita{
	display: inline-block;
	margin-right: 28px;
}
.alinha_grafico_esquerda{
	display: inline-block;
	margin-right: 28px;
}

/*====Tabela Detalhes====*/
div#table{
	display: none; /*ao carregar a página o display é none pois a div dos dashboards deve ser mostrada. Dps isso é controlado pela função mostrarDiv*/
	margin-left: 200px;
	padding-top: 28px;
	color:Black;
	font-family: helvetica;
	font-size: 14px;
	background-color: #ECFCF1;
	padding-right: 10px;
}
table, th, td {
	border: 1px solid #999999;
	border-collapse: collapse;
}
table{
	width: 98%;
}
th {
	height: 50px;
	background-color: rgba(185, 220, 187, 0.7); /*Equivalente a cor #B9DCBB com 0.75 de opacity*/
}
td {
	padding: 3px;
}

tr:nth-child(even) {
	background-color: #D3F3D4;
}

tr:hover{
	background-color: #DFE8DB;
}

#btn_voltar{
	font-family: helvetica;
	font-size: 14px;
	margin-bottom: 8px;
	margin-top: 8px;
	text-align: right; 
	width: 98%;
}

#btn_voltar input{
	border: 0.5px solid #999999;
	border-radius: 5px;
	/*color: grey;*/ /*cor original*/
	color: black;
	/*tamanho do botão voltar*/ /*sugestão marcelo*/
	width: 90px;
	height: 30px;
	font-size: 18px;
}

#btn_voltar input:hover{
	background-color: #606060;
	color: white;
}

/*====Logo IFRS====*/
.imagem_right{
	float: right;
}

.imagem_left{
	float: left;
	padding-top: 7px;
}

/*====Rodapé====*/
#rodape{
	margin-left: 3px;
	clear:both;
	text-align:left;
	font-family: helvetica;
	font-size: small;
	color: grey;
	padding-top: 10px;
	padding-bottom: 5px;
}

/*Comando para resolver bug do tooltip piscando em fatias pequenas dos gráficos*/
/*Fonte: https://github.com/google/google-visualization-issues/issues/2162*/
svg > g:last-child > g:last-child { pointer-events: none }
