/*====Estrutura Geral====*/
	html, body {
		position: relative;
	    overflow: auto;
	    height: 100%;
	    margin: 0px; 
	    padding: 0px;
	}
	body{
		background-color: #ECFDF0;
		padding-left: 5px; /*sugestão marcelo*/
		padding-right: 5px; /*sugestão marcelo*/
	}

/*====Modal====*/
	:root {
		--modal-duration: 1s;
		--modal-color: #4CAF50;
	}
	.modal {
		font-family: helvetica;
		display: none;
		position: fixed;
		z-index: 1;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		overflow: auto;
		background-color: rgba(0, 0, 0, 0.5);
	}
	.modal-content {
		margin: 10% auto;
		width: 60%;
		box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
		animation-name: modalopen;
		animation-duration: var(--modal-duration);
	}
	.modal-header h2,
	.modal-footer h3 {
		margin: 0;
	}
	.modal-header {
		background: var(--modal-color);
		padding: 15px;
		color: #fff;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}
	.modal-body {
		padding: 10px 20px;
		background: #fff;
	}
	.modal-footer {
		background: var(--modal-color);
		padding: 10px;
		color: #fff;
		text-align: center;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
	}
	.modal-checkbox{
		text-align: right;
		padding-right: 0px;
	}
	.close {
	 	color: #ccc;
		float: right;
		font-size: 30px;
		color: #fff;
	}
	.close:hover,
	.close:focus {
		color: #000;
		text-decoration: none;
		cursor: pointer;
	}
	@keyframes modalopen {
		from {
	    	opacity: 0;
	  	}
	  	to {
	    	opacity: 1;
	  	}
	}

/*====cabeçalho====*/
	div#cabecalho{
		margin-left: 3px;
	}

/*====Tela de login====*/
	.login {
		background-color: #FFF;
		padding: 20px;
		border-radius: 5px;
		position: absolute;
	    left: 50%;
	    top: 50%;
	    transform: translate(-50%, -50%);
	}
	.app-title {
		text-align: center;
		color: black;
		font-family: helvetica;
		color: #606060;
	}
	.login-form {
		text-align: center;
	}
	.control-group {
		margin-bottom: 10px;
	}
	.input-login {
		text-align: center;
		background-color: #ECF0F1;
		border: 2px solid transparent;
		border-radius: 3px;
		font-size: 16px;
		font-weight: 200;
		padding: 10px 0;
		width: 250px;
		transition: border .5s;
	}
	.input-login:focus {
		border: 2px solid #4CAF50;
		box-shadow: none;
		outline: none;
	}
	.btn {
		border: 2px solid transparent;
		background: #4CAF50;
		color: #ffffff;
		font-size: 16px;
		line-height: 25px;
		padding: 10px 0;
		text-decoration: none;
		text-shadow: none;
		border-radius: 3px;
		box-shadow: none;
		transition: 0.25s;
		display: block;
		width: 250px;
		margin: 0 auto;
	}
	.btn:hover {
		background: #43A047;
	}

/*====Menu Superior====*/
	nav#menu_superior ul{
		background-color: #E1F0DB;
		list-style: none;
		margin: 0px;
		padding-left: 0px;
		border-bottom: 0.5px solid  #999999;
		border-top: 0.5px solid  #999999;
	}
	nav#menu_superior li{
		display: inline-block;
		color: #999999;
		font-family: helvetica;
	}
	nav#menu_superior li:hover{
		background-color: #606060;
	}
	nav#menu_superior a{
		/*color: grey;*/ /*cor original*/
		color: black;
		text-decoration: none;
		cursor: default;
		display: block; /*isso faz a tag "a" ter a mesma largura do "li", consequentemente tudo fica como link clicável.*/
		padding: 10px;
	}
	nav#menu_superior a:hover{
		color: white;
	}
	.alinhaDireita{
		float: right;
	}

/*====Menu Esquerda====*/
	nav#menu_esquerda {
		background-color: #E1F0DB;
		border: 0.5px solid #999999;
		/*border-top-right-radius: 5px;*/ /*com o padding-left: (sugestão do marcelo) o radius tem q ser aplicado em todos os cantos*/
		border-radius: 5px;
		font-family: helvetica;
		width:180px;
		float: left;
		margin-top: 10px;
		height: 1290px; /*altura inicial da página*/ /*ATENÇÂO!! Esse mesmo valor está fixo no arquivo funcoesGerais.js*/ 
	}
	nav#menu_esquerda ul{
		padding-left: 2px;
	}
	nav#menu_esquerda li{
		color: #999999;
		list-style: none;
	}
	nav#menu_esquerda li:hover{
		background-color: #606060;
	}
	nav#menu_esquerda a{
		cursor: default;
		/*color: grey;*/ /*cor original*/
		color: black;
		text-decoration: none;
		line-height: 1.5;
		display: block; /*isso faz a tag "a" ter a mesma largura do "li", consequentemente tudo fica como link clicável.*/
		padding: 3px;
	}
	nav#menu_esquerda a:hover{
		color: white;
	}
	.active{
		background-color: #606060;
	}
	.active a{
		color: white !important;
	}
	.preencher{
		background-color: #B9DCBB;
		border: 0.5px solid #999999;
		border-top-right-radius: 5px;
		padding: 3px;
		/*opacity: 0.75;*/ /*sugestão marcelo remover*/
	}
	.icone_menu{
		float: right;
		max-width:20px;
	    opacity: 0.5;
	}
	.icone_menu_suporte{
		float: right;
		max-width:23px;
		opacity: 150;
	}
	.icone_menu_opaco{
		float: right;
		max-width:20px;
		opacity: 150;
	}
	.negrito{
		font-weight:bold;
	}

/*====Div dos filtros====*/
	div#filtros{
		margin-left:200px;
		margin-top: 10px;
		color:Black;
		font-family: helvetica;
		background-color: #ECFCF1;
	}
	.combobox {
		padding: 3px;
		font-size: 14px;
		border-width: 1px;
		border-color: #999999;
		background-color: #B9DCBB;
		/*color: grey;*/ /*cor original*/
		color: black;
		border-style: solid;
		border-radius: 7px;
		width:99%;
		/*opacity: 0.75;*/ /*sugestão marcelo remover*/
		text-align-last: center;
	}
	select#campus{
		width: 75%;
	}
	select#periodo{
		width: 23.5%;
	}
	.combobox:focus {
		outline:none;
	}

/*====Div Dashboards====*/
	div#dashboards {
		padding-left: 1%;
		color:Black;
		font-family: helvetica;
		background-color: #ECFCF1;
		overflow: hidden;
		padding-right: 1%;
	}

	.grafico{
		width: 47%;
		height: 350px;
		margin-top: 3%;
	}

	.grafico svg{ /*deixa o retangulo do gráfico com bordas arredondadas*/
		border-radius: 7px;
		border: solid;
		border-color: grey;
		border-width: 1px;
	}

	.alinha_grafico_direita{
		display: inline-block;

	}
	.alinha_grafico_esquerda{
		display: inline-block;
		margin-right: 5.5%;
	}

	/*os comandos @media only abaixo servem pra fixar o tamanho dos gráficos a partir de determinadas larguras da tela. Serve para responsividade*/
	@media only screen and (min-width: 3500px){
		.grafico{
			max-width: 620px;
		}
		.alinha_grafico_direita{
			margin-right: 5.5%;
		}
	 }

	@media only screen and (min-width: 2500px){
		.grafico{
			max-width: 620px;
		}
		.alinha_grafico_direita{
			margin-right: 5.5%;
		}
	 }

	/*	@media only screen and (min-width: 2200px){
			.grafico{
				max-width: 620px;
			}
			.alinha_grafico_direita{
				margin-right: 5.5%;
			}
		}*/

/*====Tabela Detalhes====*/
	div#table{
		display: none; /*ao carregar a página o display é none pois a div dos dashboards deve ser mostrada. Dps isso é controlado pela função mostrarDiv*/
		margin-left: 200px;
		padding-top: 28px;
		color:Black;
		font-family: helvetica;
		font-size: 14px;
		background-color: #ECFCF1;
		padding-right: 10px;
	}
	table, th, td {
		border: 1px solid #999999;
		border-collapse: collapse;
	}
	table{
		width: 98%;
	}
	th {
		height: 50px;
		background-color: rgba(185, 220, 187, 0.7); /*Equivalente a cor #B9DCBB com 0.75 de opacity*/
	}
	td {
		padding: 3px;
	}

	tr:nth-child(even) {
		background-color: #D3F3D4;
	}

	tr:hover{
		background-color: #DFE8DB;
	}

	#btn_voltar{
		font-family: helvetica;
		font-size: 14px;
		margin-bottom: 8px;
		margin-top: 8px;
		text-align: right; 
		width: 98%;
	}

	#btn_voltar input{
		border: 0.5px solid #999999;
		border-radius: 5px;
		/*color: grey;*/ /*cor original*/
		color: black;
		/*tamanho do botão voltar*/ /*sugestão marcelo*/
		width: 90px;
		height: 30px;
		font-size: 18px;
		padding: 0px;
	}

	#btn_voltar input:hover{
		background-color: #606060;
		color: white;
	}

/*====Página Suporte====*/
	.imagem_suporte{
		float: left;
		max-width: 40%;
		padding-right: 2%;
	}

	.conteudo_suporte {
		text-align: justify;
	}

	.conteudo_suporte h1{
		text-align: center;
	}

	.centraliza_imagem {
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
	  width: 50%;
	}

/*====Modal Imagens Suporte====*/

	/* Style the Image Used to Trigger the Modal Suporte */
	.conteudo_suporte img { /*classe da div dashboards da página de suporte*/
	  border-radius: 5px;
	  cursor: pointer;
	  transition: 0.3s;
	}

	.conteudo_suporte img:hover {opacity: 0.7;}

	/* The Modal (background) */
	.modal_suporte {
	  display: none; /* Hidden by default */
	  position: fixed; /* Stay in place */
	  z-index: 1; /* Sit on top */
	  padding-top: 100px; /* Location of the box */
	  left: 0;
	  top: 0;
	  width: 100%; /* Full width */
	  height: 100%; /* Full height */
	  overflow: auto; /* Enable scroll if needed */
	  background-color: rgb(0,0,0); /* Fallback color */
	  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
	}

	/* Modal Content (Image) */
	.modal_suporte_content {
	  margin: auto;
	  display: block;
	  width: 80%;
	  max-width: 700px;
	}

	/* Caption of Modal Image (Image Text) - Same Width as the Image */
	#caption {
	  margin: auto;
	  display: block;
	  width: 80%;
	  max-width: 700px;
	  text-align: center;
	  color: #ccc;
	  padding: 10px 0;
	  height: 150px;
	}

	/* Add Animation - Zoom in the Modal */
	.modal_suporte_content, #caption {
	  animation-name: zoom;
	  animation-duration: 0.6s;
	}

	@keyframes zoom {
	  from {transform:scale(0)}
	  to {transform:scale(1)}
	}

	/* The Close Button */
	.close_modal_suporte {
	  position: absolute;
	  top: 15px;
	  right: 35px;
	  color: #f1f1f1;
	  font-size: 40px;
	  font-weight: bold;
	  transition: 0.3s;
	}

	.close_modal_suporte:hover,
	.close_modal_suporte:focus {
	  color: #bbb;
	  text-decoration: none;
	  cursor: pointer;
	}

	/* 100% Image Width on Smaller Screens */
	@media only screen and (max-width: 700px){
	  .modal_suporte_content {
	    width: 100%;
	  }
	}

/*====Logo IFRS====*/
	.imagem_right{
		float: right;
	}

	.imagem_left{
		float: left;
		padding-top: 7px;
	}

/*====Rodapé====*/
	#rodape{
		margin-left: 3px;
		clear:both;
		text-align:left;
		font-family: helvetica;
		font-size: small;
		color: grey;
		padding-top: 10px;
		padding-bottom: 5px;
	}

/*Comando para resolver bug do tooltip piscando em fatias pequenas dos gráficos*/
/*Fonte: https://github.com/google/google-visualization-issues/issues/2162*/
svg > g:last-child > g:last-child { pointer-events: none }
