{% load static %} <!-- carregamento de arquivos estaticos Django -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="IfAnalytics">
	<meta name="keywwords" content="IFRS, Analytics, SIGAA">
	<meta name="author" content="Crístian Gusberti">
	<!-- <title>IfAnalytics</title> --> <!-- está sendo alterado dinamicamente pela função thisPage() abaixo -->
	<link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
	<link rel="stylesheet" href="{% static 'css/Estilos.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>	<!-- Scripts da biblioteca Google Charts -->
	<script>google.charts.load('current', {'packages':['corechart', 'bar']});</script> <!-- Load Charts and the corechart and bar package from Google Charts. -->
</head>

<body>
	<div id="cabecalho">
		<img class="imagem" src="{% static 'images/Logo.PNG' %}" height="70" width="50" alt="Logotipo IFRS">
		<h1>IfAnalytics</h1>
	</div><br>


	<nav id="menu_superior">
		<ul>
			<li><a href="{% url 'geral' %}" title="Página inicial/login">Home</a></li>
			<li><a href="#" onclick="alert('Até o momento apenas o menu Superior está implementado')" title="Cursos Integrados">Integrado</a></li>
			<li><a href="#" onclick="alert('Até o momento apenas o menu Superior está implementado')" title="Cursos Técnicos">Técnico</a></li>
			<li class="active"><a href="#" title="Cursos Superiores">Superior</a></li>
			<li><a href="#" onclick="alert('Até o momento apenas o menu Superior está implementado')" title="Cursos Pós-Graduação">Pós-Graduação</a></li>
			<li class="alinhaDireita" ><a href="#" title="Sair do sistema">Sair</a></li>
		</ul>
	</nav><br>


	<nav id="menu_direita">
		<div class="preencher"><span class="negrito">Menu</span><img src="{% static 'images/menu_icon.PNG' %}" class="icone_menu_opaco"></div>
		<ul id="lista_menu" style="padding-left: 2px">
			<li id="geral"><a href="{% url 'geral' %}" title="Informações Gerais">Geral</a><img src="{% static 'images/geral_icon.PNG' %}" class="icone_menu_opaco"></li>
			<li id="notas"><a href="{% url 'notas' %}" title="Informações sobre notas">Notas</a><img src="{% static 'images/notas_icon.PNG' %}" class="icone_menu"></li>
			<li id="Frequências"><a href="{% url 'frequencias' %}" title="Informações sobre frequência">Frequência</a><img src="{% static 'images/frequencia_icon.PNG' %}" class="icone_menu"></li>
			
			<!-- <li><a href="{% url 'suporte' %}" title="Suporte do sistema">Suporte</a><img src="{% static 'images/suporte_icon.PNG' %}" class="icone_menu_opaco"></li> --> <!-- Suporte comentado por enquanto -->
		</ul>
	</nav>

	
	<!-- <script src="{% static '/js/MenuAtivo.js' %}"></script> --> <!-- script para deixar menu ativo SUBSTITUIDO PELA FUNÇÃO thisPage() -->


	<div id="filtros">
		<form id="filtros_selecao" method="GET">
			<select id="campus" name="campus" class="combobox"> <!-- select populado pelo ajax abaixo -->
			</select>

			<select id="periodo" name="periodo" class="combobox">
				<option value="">Período</option>
			</select><br><br>
			
			<select id="curso" name="curso" class="combobox">
				<option value="">Curso</option>
			</select><br><br>

			<select id="turma" name="turma" class="combobox">
				<option value="">Turma</option>
			</select><br>
		</form>
	</div>

	<!-- Área de Plotagem dos gráficos específica de cada página-->
	{% block content %}
	{% endblock %}
	<!-- Fim da Área de plotagem -->

	<div id="rodape">
		<b>Instituto Federal de Educação, Ciência e Tecnologia do Rio Grande do Sul - IFRS</b>
		<address>Rua General Osório, 348 | Bairro Centro | CEP: 95700-086 | Bento Gonçalves/RS</address>
		<span><a href="mailto:dti@ifrs.edu.br">dti@ifrs.edu.br</a> | (54) 3449-3328 - <a href="https://www.ifrs.edu.br" target="_blank">www.ifrs.edu.br</a> </span>
	</div>

{% block js %}
<script>
	var paginaAtual = thisPage(); //Verifica qual é a página atual para chamar as funções pertinentes
	var querySelector; //Identifica qual query deverá ser executada na views.py
	document.title = paginaAtual.charAt(0).toUpperCase() + paginaAtual.substr(1).toLowerCase() + " - IfAnalytics"; //Altera o title da página dinamicamente de acordo com a página atual, deixando a primeira letra em maiúscula

	//popula select Campus
	$( document ).ready(function() { //isso faz com que ao ser carregada a página execute o ajax abaixo
		$.ajax({
	        url: '/consulta_campus/', //chama a view "consulta_campus"
	        success: function(response) { 
	           $('#campus').html(response); //em caso de sucesso a resposta daquela view é carregado dentro do id "campus" desse arquivo HTML
	           div_dashboards_vazia = $('#dashboards').html(); //Armazena o cógido html que está dentro da div dashboards (vazio neste momento)
	       }
	   })
	});

	//detecta alteração no combo campus e chama funções do geral/notas/frequencias.html além de popular periodos
	$('#campus').change(function() {
		$('#dashboards').html(div_dashboards_vazia); //ao mudar o combo campus, substitui o que está dentro da div dashboards pelo html vazio armazenado acima
		$('#turma').html('<option value="000000">Turma</option>'); //limpa combo turma ao alterar campus
		$('#curso').html('<option value="000000">Curso</option>'); //limpa combo curso ao alterar campus
		let campusId = $("#campus").val();
		passaCurso = false;

		if (campusId == 11 || campusId == 20 || campusId == 35) { //Aviso para os campus Bento, Canoas e Rio Grande
			alert("Este campus ainda não implantou nenhum curso no SIGAA. Selecione outro!")
			$('#periodo').html('<option value="000000">Período</option>'); //limpa combo período ao selecionar esses campus
			return; //Esse return para a execução aqui evitando erro no console
		}

		//popula select Período
		$.ajax({
			url: '/consulta_periodos/', 
			data: {
				'campus_id' : campusId
			},
			success: function(response) {
				$('#periodo').html(response);
				// querySelector = 'campus'; //não está mais sendo usado, desde a alteração onde os gráficos só aparecem ao alterar o combo período (commit nº: )
			}
		})
	});

	//detecta alteração no combo periodo e chama funções do geral/notas/frequencias.html além de popular cursos
	$('#periodo').change(function() {
		let campusId = $("#campus").val();
		let cursoId = $("#curso").val();  
		let periodo = $(this).val();
		let arrayString = periodo.split("/");
		let ano = arrayString[0];
		let semestre = arrayString[1];
		querySelector = 'periodo';

		//popula select Cursos
		$.ajax({
			url: '/consulta_cursos/',
			data: {
				'campus_id' : campusId
			},
			success: function(response) {
				$('#curso').html(response);
				$('#turma').html('<option value="000000">Turma</option>'); //limpa combo turma ao alterar período
	        }
	    })

		if (paginaAtual == 'geral') {
				renderChartFormaIngresso(querySelector, campusId, ano, semestre);
				renderChartStatusDiscente(querySelector, campusId, ano, semestre);
				renderChartTotalMatriculas(querySelector, campusId, ano, semestre);
				renderChartConcluintes(querySelector, campusId, ano, semestre);
				renderChartTamanhoTurmas(querySelector, campusId, ano, semestre);
				renderChartDiscentesEvadidos(querySelector, campusId, ano, semestre);
		}else if(paginaAtual == 'notas'){
				renderChartNotasParciais(1, querySelector, campusId, ano, semestre);
				renderChartNotasParciais(2, querySelector, campusId, ano, semestre);
				renderChartMediasFinais(querySelector, campusId, ano, semestre);
				renderChartDiscenteExame(querySelector, campusId, ano, semestre);
				renderChartAprovadosReprovados(querySelector, campusId, ano, semestre);
				renderChartStatusDisciplinas(querySelector, campusId, ano, semestre);
		}else if(paginaAtual == 'Frequências'){
				renderChartPercentuaisFrequencia(querySelector, campusId, ano, semestre);
		}
	});

	//detecta alteração no combo curso e chama funções do geral/notas/frequencias.html além de popular turmas
	$('#curso').change(function() {
		let campusId = $("#campus").val(); 
		let cursoId = $(this).val();
		let periodo = $("#periodo").val(); 
		let arrayString = periodo.split("/");
		let ano = arrayString[0];
		let semestre = arrayString[1];
		querySelector = 'curso';
		passaCurso = true;

		//popula turmas
		$.ajax({
			url: '/consulta_turmas/',
	        data: { //passando por ajax para a view "consulta_turmas", as variáveis definidas acima
	        'campus_id' : campusId,
	        'ano' : ano,
	        'semestre' : semestre,
	        'curso_id' : cursoId
	    	},
	    	success: function(response) {
	    	$('#turma').html(response);
	      	}
	  	})

		if (paginaAtual == 'geral') {
			renderChartFormaIngresso(querySelector, campusId, ano, semestre, cursoId);
			renderChartStatusDiscente(querySelector, campusId, ano, semestre, cursoId);
			renderChartTotalMatriculas(querySelector, campusId, ano, semestre, cursoId);
			renderChartConcluintes(querySelector, campusId, ano, semestre, cursoId);
			renderChartTamanhoTurmas(querySelector, campusId, ano, semestre, cursoId);
			renderChartDiscentesEvadidos(querySelector, campusId, ano, semestre, cursoId);
		}else if(paginaAtual == 'notas'){
			renderChartNotasParciais(1, querySelector, campusId, ano, semestre, cursoId);
			renderChartNotasParciais(2, querySelector, campusId, ano, semestre, cursoId);
			renderChartMediasFinais(querySelector, campusId, ano, semestre, cursoId);
			renderChartDiscenteExame(querySelector, campusId, ano, semestre, cursoId);
			renderChartAprovadosReprovados(querySelector, campusId, ano, semestre, cursoId);
			renderChartStatusDisciplinas(querySelector, campusId, ano, semestre, cursoId);
		}else if(paginaAtual == 'Frequências'){
			renderChartPercentuaisFrequencia(querySelector, campusId, ano, semestre, cursoId);
		}
	});

	//detecta alteração no combo turmas e chama funções do geral/notas/frequencias.html
	$('#turma').change(function() {
		let campusId = $("#campus").val();
		let cursoId = $("#curso").val();  
		let periodo = $("#periodo").val();
		let arrayString = periodo.split("/");
		let ano = arrayString[0];
		let semestre = arrayString[1];
		let turmaId = $(this).val();
		querySelector = 'turma';

		if (paginaAtual == 'geral') {
			renderChartFormaIngresso(querySelector, null, ano, semestre, null, turmaId); 
			renderChartStatusDiscente(querySelector, campusId, ano, semestre, cursoId, turmaId); 
			renderChartTotalMatriculas(querySelector, null, ano, semestre, null, turmaId); 
			renderChartConcluintes(querySelector, null, ano, semestre, null, turmaId); 
			renderChartTamanhoTurmas(querySelector, null, ano, semestre, null, turmaId); 
			renderChartDiscentesEvadidos(querySelector, null, ano, semestre, null, turmaId); 
		}else if(paginaAtual == 'notas'){
			renderChartNotasParciais(1, querySelector, null, ano, semestre, null, turmaId);
			renderChartNotasParciais(2, querySelector, null, ano, semestre, null, turmaId);
			renderChartMediasFinais(querySelector, null, ano, semestre, null, turmaId);
			renderChartDiscenteExame(querySelector, null, ano, semestre, null, turmaId);
			renderChartAprovadosReprovados(querySelector, null, ano, semestre, null, turmaId);
			renderChartStatusDisciplinas(querySelector, null, ano, semestre, null, turmaId);
		}else if(paginaAtual == 'Frequências'){
			renderChartPercentuaisFrequencia(querySelector, null, ano, semestre, null, turmaId);
		}
	});

	//função que me diz qual é a página atual
	function thisPage(){

		var url = document.URL; //retorna a url da página

		if (url[url.length-1] == "/"){ // remove última barra do endereço
		  	url = url.substring(0, url.length-1);
		}

		var urlArr = url.split("/");//retorna um array da url separado pelas barras
		var thisPage = urlArr[3]; //armazena em thisPage a posição 3 do array que é a posição ref. ao nome da página. Pq ele conta as barras do http:// na hora de splitar
		if (thisPage == "frequencias") { //Correção do acento da palavra
			thisPage = "Frequências";
		}
		return thisPage;
	}

	var thisPage = thisPage();  // recebe a string da página atual
	if (thisPage == "geral" || thisPage == "notas" || thisPage == "Frequências") { //não considera a página de detalhes pq ela não tem menu
		document.getElementById(thisPage).className= 'active';// altera a classe do elemento através do id que deve ser igual ao nome da página
	}

</script>
{% endblock js %}

</body>
</html>