{% load static %} <!-- carregamento de arquivos estaticos Django -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="Geral - IfAnalytics">
	<meta name="keywwords" content="IFRS, Analytics, SIGAA">
	<meta name="author" content="Crístian Gusberti">
	<title>Geral - IfAnalytics</title>
	<link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
	<link rel="stylesheet" href="{% static 'css/Estilos.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>	<!-- Scripts da biblioteca Google Charts -->
	<script>google.charts.load('current', {'packages':['corechart']});</script> <!-- Load Charts and the corechart package from Google Charts. -->
</head>

<body>
	<div id="cabecalho">
		<img class="imagem" src="{% static 'images/Logo.PNG' %}" height="70" width="50" alt="Logotipo IFRS">
		<h1>IfAnalytics</h1>
	</div><br>






	<nav id="menu_superior">
		<ul>
			<li><a href="#" title="Página inicial/login">Home</a></li>
			<li><a href="#" title="Cursos Integrados">Integrado</a></li>
			<li><a href="#" title="Cursos Técnicos">Técnico</a></li>
			<li><a href="#" title="Cursos Superiores">Superior</a></li>
			<li><a href="#" title="Cursos Pós-Graduação">Pós-Graduação</a></li>
			<li class="alinhaDireita" ><a href="#" title="Sair do sistema">Sair</a></li>
		</ul>
	</nav><br>


	<nav id="menu_direita">
		<div class="preencher"><span class="negrito">Menu</span><img src="{% static 'images/menu_icon.PNG' %}" class="icone_menu_opaco"></div>
		<ul style="padding-left: 2px">
			<li><a href="{% url 'geral' %}" title="Informações Gerais">Geral</a><img src="{% static 'images/geral_icon.PNG' %}" class="icone_menu_opaco"></li>
			<li><a href="{% url 'notas' %}" title="Informações sobre notas">Notas</a><img src="{% static 'images/notas_icon.PNG' %}" class="icone_menu"></li>
			<li><a href="{% url 'frequencias' %}" title="Informações sobre frequência">Frequência</a><img src="{% static 'images/frequencia_icon.PNG' %}" class="icone_menu"></li>
			<li><a href="{% url 'suporte' %}" title="Suporte do sistema">Suporte</a><img src="{% static 'images/suporte_icon.PNG' %}" class="icone_menu_opaco"></li>
		</ul>
	</nav>



	<!-- Script para indicação de menu ativo. NÃO ESTÁ FUNCIONANDO AINDA!!!-->
	<!-- <script src="{% static '/js/MenuAtivo.js' %}"></script>  -->


	<div id="filtros">
		<form id="filtros_selecao" method="GET">
			<select id="campus" name="campus" class="combobox"> <!-- select populado pelo ajax abaixo -->
				<!-- <option value="">SELECIONE</option> -->
			</select><br><br>
			
			<select id="curso" name="curso" class="combobox">
				<option value="">Curso</option>
			</select>

			<select id="periodo" name="periodo" class="combobox">
				<option value="">Periodo</option>
			</select><br><br>

			<select id="turma" name="turma" class="combobox">
				<option value="">Turma</option>
			</select><br><br>

			<!-- <select id="aluno" name="aluno" class="combobox"> COMBO DOS ALUNOS NÃO TEM NA PÁGINA GERAL
				<option value="" hidden disabled selected>Aluno</option>
				<option value="Aluno1">Aluno1</option>
				<option value="Aluno2">Aluno2</option>
				<option value="Aluno3">Aluno3</option>
				<option value="Aluno4">Aluno4</option>
				<option value="...">...</option>
			</select><br> -->
		</form>
	</div>


	<!-- Área de Plotagem dos gráficos específica de cada página-->
	{% block content %}
	{% endblock %}
	<!-- Fim da Área de plotagem -->

	<div id="rodape"><br>
		<b>Instituto Federal de Educação, Ciência e Tecnologia do Rio Grande do Sul - IFRS</b>
		<address>Rua General Osório, 348 | Bairro Centro | CEP: 95700-086 | Bento Gonçalves/RS</address>
		<span><a href="mailto:dti@ifrs.edu.br">dti@ifrs.edu.br</a> | (54) 3449-3328 - <a href="https://www.ifrs.edu.br" target="_blank">www.ifrs.edu.br</a> </span>
	</div>



{% block js %}
<script>
//popula selec Campus
$( document ).ready(function() { //isso faz com que ao ser carregad a página execute o ajax abaixo
 	$.ajax({
        url: '/consulta_campus/', //chama a view "consulta_campus"
        success: function(response) { 
           $('#campus').html(response); //em caso de sucesso a resposta daquela view é carregado dentro do id "campus" desse arquivo HTML
        }
      })
    }
 );

//popula select Cursos 
$('#campus').change(function() {
	var campusId = $(this).val();
   
   	$.ajax({
        url: '/consulta_cursos/',
        data: {
          'campus_id' : campusId
        },
        success: function(response) {
          $('#curso').html(response);
          											//incluir aqui chamada para função habilita_grafico_tal          
        }
      })
  	
//popula select períodos junto com cursos
	$.ajax({
        url: '/consulta_periodos/',
        data: {
          'campus_id' : campusId
        },
        success: function(response) {
          $('#periodo').html(response);
        }
      })

  });

//popula select turmas
$('#periodo').change(function() {
	let campusId = $("#campus").val();   
	let periodo = $(this).val();
	let arrayString = periodo.split("/");
	let ano = arrayString[0];
	let semestre = arrayString[1];

	$.ajax({
        url: '/consulta_turmas/',
        data: { //passando por ajax para a view "consulta_turmas", as variáveis definidas acima
          'campus_id' : campusId,
          'ano_turma' : ano,
          'semestre_turma' : semestre
        },
        success: function(response) {
          $('#turma').html(response);
          // $('#proximoID').html('<option value="">---------------------</option>'); maneira de deixar o proximo não selecionado
        }
      })
   
    }
    );

//Função para habilitar ou desabilitar graficos de acordo com seu preenchimento.
function habilita_graficos_curso(){
	$("#grafico_periodo_ingresso").show();	
	$("#grafico_periodo_ingresso").hide();

}	

</script>
{% endblock js %}

</body>
</html>