{% extends 'ifAnalytics/base.html' %}

{% block content %}

<script>

		//quem sabe não precise declarar as variáveis, posso colocar direto o getItem no data do ajax
		//implementar a  consulta de campus e turma na view
		campusId = sessionStorage.getItem("campusId");
		cursoId= sessionStorage.getItem("cursoId");
		ano = sessionStorage.getItem("ano");
		semestre = sessionStorage.getItem("semestre");
		turmaId= sessionStorage.getItem("turmaId");
		querySelector = sessionStorage.getItem("querySelector");
		parametroDetalhes = sessionStorage.getItem("parametroDetalhes");
		

		console.log("camupusId é "+ campusId);
		console.log("cursoId é "+ cursoId);
		console.log("ano é "+ ano);
		console.log("semestre é "+ semestre);
		console.log("turmaId é "+ turmaId);
		console.log("querySelector é "+ querySelector);
		console.log("parametroDetalhes é "+ parametroDetalhes);

		$.ajax({
	        method: "GET",
	        url: '/get_consulta_forma_ingresso_detalhes/', //mudar para a view que já existe!
	        data: {
	          'campus_id' : campusId,
	          'curso_id' : cursoId,
	          'ano' : ano,
	          'semestre' : semestre,
	          'turma_id': turmaId,
	          'querySelector' : querySelector,
	          'parametroDetalhes' : parametroDetalhes
	          // 'campus_id' : sessionStorage.getItem("campusId"),
	          // 'curso_id' : sessionStorage.getItem("cursoId"),
	          // 'ano' : sessionStorage.getItem("ano"),
	          // 'semestre' : sessionStorage.getItem("semestre"),
	          // 'turma_id': sessionStorage.getItem("turmaId"),
	          // 'querySelector' : sessionStorage.getItem("querySelector"),
	          // 'parametroDetalhes' : sessionStorage.getItem("parametroDetalhes")
	          // 'campus_id' : 56,
	          // 'curso_id' : 197350,
	          // 'ano' : 2019,
	          // 'semestre' : 1,
	          // 'turma_id': 2892,
	          // 'querySelector' : "campus_detalhes",
	          // 'parametro_detalhe' : "1 -  ACESSO UNIVERSAL"
	       },
	       success: function(data_from_view){
	       	console.log("data form view é "+data_from_view);
	         //função que monta a tabela
	         gerarTabela(data_from_view);
	       },
	       error: function(error_data){
	          console.log("error")
	          console.log(error_data)
	       }
	    })


	function gerarTabela(data_from_view){
		//cabeçalho
		let array_cabecalho = ["Forma ingresso", "Matricula", "Nome", "Curso", "E-mail"];

		let cabecalho_tabela = "<tr>";//adiciona uma linha de cabeçalho
		for (let i = 0; i < array_cabecalho.length; i++) { 
			cabecalho_tabela += "<th>"+array_cabecalho[i] +"</th>"; //percorre o array de cabeçalho e para cada item cria uma célula (coluna)
		}
		cabecalho_tabela += "</tr>";
		$('thead').append(cabecalho_tabela); //popula cabeçalho da tabela dinamicamente
		
		//corpo
		for (let i = 0; i < data_from_view.length; i++) { //for que adiciona uma linha da tabela
			let corpo_tabela = "<tr>"; //adiciona linha em <tr> e abaixo adiciona célula (coluna) em <td>
			for(let j = 0; j < data_from_view[i].length; j++){ //pega a quantidade de itens (tamanho) da linha i do array
				corpo_tabela +="<td>"+data_from_view[i][j]+"</td>"; //enquanto nessa linha i, percorre cada posição da linha i como sendo j
			}
			corpo_tabela +="</tr>";
			$('tbody').append(corpo_tabela); //popula o corpo da tabela dinamicamente
 		}
	}
</script>

<!-- Plotagem da tabela -->
<table border="1">
	<thead>
		<!-- insere aqui o append do thead -->
	</thead>
	<tbody>
		<!-- insere aqui o append do tbody -->
	</tbody> 
</table>

{% endblock %}