{% extends 'ifAnalytics/base.html' %}
{% load static %} <!-- carregamento de arquivos estaticos Django -->
{% block content %}

<script>

	$.ajax({
        method: "GET",
        url: sessionStorage.getItem("url_consulta"), //URL da view da consulta do sessionStorage salvo nos handlers das páginas geral/notas/frequencia
        data: { //resgatando os parametros que foram salvos no sessionStorage pelas páginas geral/notas/frequencia
          'campus_id' : sessionStorage.getItem("campusId"),
          'curso_id' : sessionStorage.getItem("cursoId"),
          'ano' : sessionStorage.getItem("ano"),
          'semestre' : sessionStorage.getItem("semestre"),
          'turma_id': sessionStorage.getItem("turmaId"),
          'querySelector' : sessionStorage.getItem("querySelector"),
          'parametroDetalhes' : sessionStorage.getItem("parametroDetalhes"),
          'colunaSelecionada' : sessionStorage.getItem("colunaSelecionada"), //somente para gráficos com dois indicadores
          'unidade': sessionStorage.getItem("unidade") //para o gráfico de notas parciais
		},
		success: function(data_from_view){ //retorno da view
         //função que monta a tabela
         gerarTabela(data_from_view);
		},
		error: function(error_data){
          console.log("error")
          console.log(error_data)
		}
    })

	function gerarTabela(data_from_view){
		//cabeçalho
		let array_cabecalho = sessionStorage.getItem("array_cabecalho").split(","); //sessionStorage armazenou como string unica por isso splitei aqui

		let cabecalho_tabela = "<tr><th colspan="+array_cabecalho.length+">"+sessionStorage.getItem("titulo_tabela_detalhes")+"</th></tr>"//adiciona o título da tabela
		cabecalho_tabela += "<tr>";//adiciona uma linha de cabeçalho
		for (let i = 0; i < array_cabecalho.length; i++) { 
			cabecalho_tabela += "<th>"+array_cabecalho[i] +"</th>"; //percorre o array de cabeçalho e para cada item cria uma célula (coluna)
		}
		cabecalho_tabela += "</tr>";
		$('thead').append(cabecalho_tabela); //popula cabeçalho da tabela dinamicamente
		
		//corpo
		let numero_linha = 1;
		for (let i = 0; i < data_from_view.length; i++) { //for que adiciona uma linha da tabela
			let corpo_tabela = "<tr>"+"<td>"+numero_linha+"</td>"; //adiciona linha em <tr> e abaixo adiciona célula (coluna) em <td>. Nessa mesma linha adiciona um <td> com o contador "numero_linha" para aparecer na tabela o numero de cada linha

			for(let j = 0; j < data_from_view[i].length; j++){ //pega a quantidade de itens (tamanho) da linha i do array
				if (j != data_from_view[i].length-1) { //verifica se não é a última posição adiciona as colunas normalmente
					corpo_tabela +="<td>"+data_from_view[i][j]+"</td>"; //enquanto nessa linha i, percorre cada posição da linha i como sendo j
				}else{ //se for a ultima posição (e-mail) adiciona uma imagem com o link para o e-mail do aluno
					corpo_tabela +="<td><a href=mailto:"+data_from_view[i][j]+"><img src='{% static 'images/email.png' %}' title='Enviar e-mail'></a></td>";
				}
			}

			corpo_tabela +="</tr>";
			$('tbody').append(corpo_tabela); //popula o corpo da tabela dinamicamente
			numero_linha++;
 		}
	}
</script>

<div id="table"><!-- PLOTAGEM DA TABELA -->
	<table>
		<thead>
			<!-- insere aqui o append do thead -->
		</thead>
		<tbody>
			<!-- insere aqui o append do tbody -->
		</tbody> 
	</table>
</div>

{% endblock %}