{% extends 'ifAnalytics/base.html' %}

{% block content %}
<script> //RENDER GERAL PARA TODOS OS GRÁFICOS
  function renderChartsFrequencia(chart_name, querySelector, campusId, ano, semestre, cursoId, turmaId){
    //É preciso persistir esses dados aqui para que, assim que a função receber os parametros eles possam ser utilizados pela consulta de detalhes e atualizados sempre que os combos forem alterados e essa função for chamada
    persistirParametros("querySelector", querySelector); 
    persistirParametros("campusId", campusId); 
    persistirParametros("ano", ano); 
    persistirParametros("semestre", semestre); 
    persistirParametros("cursoId", cursoId); 
    persistirParametros("turmaId", turmaId); 

    switch(chart_name) { //Define a URL da view específica de cada gráfico

      case 'chart_percentuais_frequencia':  
        url = '/get_data_percentuais_frequencia/'
      break 
    }

    $.ajax({ //passa os parametros que vieram da base.html para a view
      method: "GET",
      url: url, 
      data: {
        'campus_id' : campusId,
        'curso_id' : cursoId,
        'ano' : ano,
        'semestre' : semestre,
        'turma_id': turmaId,
        'querySelector' : querySelector
      },
      success: function(data_from_view){ //pega os dados do retorno da view
        dados = data_from_view
        switch(chart_name) {

          case 'chart_percentuais_frequencia': 

            let label_linha_1 = "100% de frequência"
            let label_linha_2 = "95% a 100% de frequência"
            let label_linha_3 = "90% a 95% de frequência"
            let label_linha_4 = "85% a 90% de frequência"
            let label_linha_5 = "80% a 85% de frequência"
            let label_linha_6 = "75% a 80% de frequência"
            let label_linha_7 = "Menos de 75% de frequência"
            let label_linha_8 = "Alunos sem frequencia"
            let labels =[label_linha_1, label_linha_2, label_linha_3, label_linha_4, label_linha_5, label_linha_6, label_linha_7, label_linha_8]
            let dadosNovoArray = formataRetorno(dados, labels);

            google.charts.setOnLoadCallback(function() {drawGeralPizza(dadosNovoArray, 'string', 'Percentual', 'number', 'Quantidade de Alunos', '12 - Percentuais de Frequência', 'chart_percentuais_frequencia', 'pieChart_percentuais_frequencia');}); //chama a função que cria e popula uma dataTable, instancia, passa os dados e desenha o gráfico
          break
        }
      },
      error: function(error_data){
        console.log("error")
        console.log(error_data)
      }
    })
  }
</script>

<script> //CRIANDO E POPULANDO OS GRÁFICOS!
  function drawGeralPizza(dados, tipo_coluna1, coluna_1, tipo_coluna2, coluna_2, titulo, chart_name, div){
    titulo_grafico = titulo //var global (preciso delas para a função que centraliza o titulo dos gráficos)
    chart_div = div //var global
    
    let options = {
      title: titulo_grafico,
      backgroundColor:{ fill: '#E1F0DB'},
      chartArea: {left: "1%", top: "10%", height: "80%", width: "100%"},
      legend: {position: 'right', alignment: 'center', textStyle: {fontSize: 10}},
      titleTextStyle: {fontSize: 17, bold: true, color: 'black'},
      sliceVisibilityThreshold: 0,
    };

    //CRIAÇÃO DAS DATATABLE (vale para todos os gráficos de pizza)
    //cada gráfico precisa de sua data_table pois cada gráfico tem que ter um listener individual que detecta a interatividade. Da mesma forma cada gráfico precisa ter sua dataTable disponível para que seja possível acessar o valor selecionado no gráfico pelo usuário
    this['data_table_' + chart_name]= new google.visualization.DataTable();
    this['data_table_' + chart_name].addColumn(tipo_coluna1, coluna_1);
    this['data_table_' + chart_name].addColumn(tipo_coluna2, coluna_2);

    //POPULA DATA_TABLE (vale para todos os gráficos de coluna)
    for (let i = 0; i < dados.length; i++) {
      this['data_table_' + chart_name].addRows([dados[i]]);
    }

    if (chart_name == "chart_percentuais_frequencia") { //opção específica desse gráfico
      //mapeamento fixo da cor de cada status
        // https://stackoverflow.com/questions/46107128/google-visualization-set-pie-chart-slice-color
        // https://stackoverflow.com/questions/13816621/fix-color-for-each-sector-of-google-pie-chart
        // https://developers.google.com/chart/interactive/docs/gallery/piechart#removing-slices
     
      // cria um array colors mapeando a cor específica de cada status
      var colors = {
        // primeiras 20 cores do google charts http://there4.io/2012/05/02/google-chart-color-list/
        '100% de frequência' : '#0F9D58', //verde do google
        '95% a 100% de frequência' : '#33ccff',
        '90% a 95% de frequência' : '#0099C6',
        '85% a 90% de frequência' : '#3366CC', //azul do google
        '80% a 85% de frequência' : '#4d4dff',
        '75% a 80% de frequência' : '#6633CC',
        'Menos de 75% de frequência' : '#DB4437', //vermelho do google,
        'Alunos sem frequencia' : '#F4B400', //amarelo do google
      };

      //cria um array do tamanho da tabela
      var slices = [];
      for (var i = 0; i < this['data_table_' + chart_name].getNumberOfRows(); i++) {
        //percorre a tabela e bate o status com a cor mepeada na variável colors
        slices.push({
          color: colors[this['data_table_' + chart_name].getValue(i, 0)]
        });
      }
      // adiciona dentro da optios do gráfico o array slices com o mapeamento da cor pra cada status
      options['slices'] = slices;
    }

    //cria o gráfico, adiciona o listner para interatividade, centraliza o título e desenha o gráfico (vale para todos os gráficos de pizza)
    this[chart_name] = new google.visualization.PieChart(document.getElementById(chart_div));
    google.visualization.events.addListener(this[chart_name], 'ready', titleCenter); //chama a função que centraliza o titulo quando o gráfico ficar pronto.
    google.visualization.events.addListener(this[chart_name], 'select', window['select_handler_' + chart_name]); //Listen for the 'select' event, and call my function selectHandler() (no caso select_handler_chart_XXXX, lá em baixo) when the user selects something on the chart.
    this[chart_name].draw(this['data_table_' + chart_name], options);
  }
</script>

<script> //FUNÇÕES HANDLER PARA INTERATIVIDADE DE CADA UM DOS GRÁFICOS
  // É necessário fazer uma função por gráfico pq cada gráfico precisa de um listener para capturar a seleção do usuário no gráfico. As funções handler, pela documentação, não aceitam envio e recebimento de parametros (https://developers.google.com/chart/interactive/docs/events) e em cada função handler eu preciso saber o nome do gráfico para utilizar a função nome_do_grafico.getSelection(). Preciso saber qual o parametro de detalhe específico do gráfico para executar a consulta de detalhes e preciso tbm definir qual a URL da consulta que será executada nos detalhes. Por isso tive que repetir código, criando uma função para cada gráfico.

  //Funções handler para interatividade de cada um dos gráficos
  function select_handler_chart_percentuais_frequencia() {
    var selectedItem = chart_percentuais_frequencia.getSelection()[0];
    if (selectedItem) {
      var parametroDetalhes = data_table_chart_percentuais_frequencia.getValue(selectedItem.row, 0);
      
      if (parametroDetalhes == "100% de frequência") {
        persistirParametros("parametroDetalhes", 100);
      } else if (parametroDetalhes == "95% a 100% de frequência") {
        persistirParametros("parametroDetalhes", ["95", "100"]);
      } else if (parametroDetalhes == "90% a 95% de frequência") {
        persistirParametros("parametroDetalhes", ["90", "95"]);
      } else if (parametroDetalhes == "85% a 90% de frequência") {
        persistirParametros("parametroDetalhes", ["85", "90"]);
      } else if (parametroDetalhes == "80% a 85% de frequência") {
        persistirParametros("parametroDetalhes", ["80", "85"]);
      } else if (parametroDetalhes == "75% a 80% de frequência") {
        persistirParametros("parametroDetalhes", ["75", "80"]);
      } else if (parametroDetalhes == "Menos de 75% de frequência") {
        persistirParametros("parametroDetalhes", 75);
      } else if (parametroDetalhes == "Alunos sem frequencia") {
        persistirParametros("parametroDetalhes", null);
      }

      persistirParametros("url_consulta", "/get_data_percentuais_frequencia/");
      persistirParametros("array_cabecalho", ["#", "Matricula", "Nome", "Curso", "Disciplina", "% Frequência", "Contato"]);
      persistirParametros("titulo_tabela_detalhes", "Detalhamento do Percentual de Frequências");
      definirQuerySelector(sessionStorage.getItem("querySelector")); 
    }
  }
</script>

<div id="dashboards"> <!-- ÁREA DE PLOTAGEM DOS GRÁFICOS -->
  <div id="pieChart_percentuais_frequencia" class="grafico alinha_grafico_esquerda"></div>
</div>

{% include 'ifAnalytics/detalhes.html' %}
{% endblock %}