{% extends 'ifAnalytics/base.html' %}


{% block content %}
<div id="dashboards">

	<!-- Scripts para criação do gráfico -->
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script type="text/javascript">
		google.charts.load('current', {'packages':['corechart']});
		google.charts.setOnLoadCallback(drawChart);

       // Populando o gráfico com dados
       function drawChart() {

       	var data = google.visualization.arrayToDataTable([
       		['Faltas', 'Alunos'],
       		['Abaixo de 20%',     5],
       		['Entre 21% e 25%',      15],
       		['Acima de 25%',  9],
       		]);

       	var options = {
       		title: 'Gráfico de Frequencias',
       		backgroundColor: '#E1F0DB',
       	};

       	var chart = new google.visualization.PieChart(document.getElementById('piechart'));

       	chart.draw(data, options);
       }
	</script>

	<!-- Plotagem do gráfico -->
	<div id="piechart" style="width: 400px; height: 300px;"></div>

</div>
{% endblock %}