{% extends 'ifAnalytics/base.html' %}

{% block content %}

<script>

  let dados
  let chart_div
  let titulo_grafico

  function renderChartPercentuaisFrequencia(querySelector, campusId, ano, semestre, cursoId, turmaId){
    //persistindo valores para serem utilizados na página de detalhes.
    persistirParametros("querySelector", querySelector); 
    persistirParametros("campusId", campusId); 
    persistirParametros("ano", ano); 
    persistirParametros("semestre", semestre); 
    persistirParametros("cursoId", cursoId); 
    persistirParametros("turmaId", turmaId); 

    //pegando os dados da view "get_data_percentuais_frequencia" para popular o gráfico
    $.ajax({
     method: "GET",
     url: '/get_data_percentuais_frequencia/', 
     data: {
     'campus_id' : campusId,
     'curso_id' : cursoId,
     'ano' : ano,
     'semestre' : semestre,
     'turma_id': turmaId,
     'querySelector' : querySelector
    },
    success: function(data_from_view){
     dados = data_from_view
     label_linha_1 = "100% de frequência"
     label_linha_2 = "95% a 100% de frequência"
     label_linha_3 = "90% a 95% de frequência"
     label_linha_4 = "85% a 90% de frequência"
     label_linha_5 = "80% a 85% de frequência"
     label_linha_6 = "75% a 80% de frequência"
     label_linha_7 = "Menos de 75% de frequência"
     label_linha_8 = "Alunos sem frequencia"
     let dadosNovoArray = formataRetorno(dados, label_linha_1, label_linha_2, label_linha_3, label_linha_4, label_linha_5, label_linha_6, label_linha_7, label_linha_8);
     tipo_coluna1 = 'string'
     tipo_coluna2 = 'number'
     coluna_1 = 'Percentual'
     coluna_2 = 'Quantidade de Alunos'
     titulo_grafico = 'Percentuais de Frequência'
     chart_name = 'chart_percentuais_frequencia'
     chart_div = 'pieChart_percentuais_frequencia'
     google.charts.setOnLoadCallback(function() {drawGeralPizza(dadosNovoArray, tipo_coluna1, coluna_1, tipo_coluna2, coluna_2, titulo_grafico, chart_name, chart_div);});
    },
    error: function(error_data){
     console.log("error")
     console.log(error_data)
    }
    })
  }

  //Funções que desenham todos os gráficos
  function drawGeralPizza(dados, tipo_coluna1, coluna_1, tipo_coluna2, coluna_2, titulo_grafico, chart_name, chart_div){
    let options = {
     title: titulo_grafico,
     backgroundColor:{ fill: '#E1F0DB'},
     chartArea: {left: 50, top: 40, height: "80%", width: "100%"},
     legend: {position: 'right', alignment: 'center', textStyle: {fontSize: 10}},
     titleTextStyle: {fontSize:14, bold: true, color:'black'},
     sliceVisibilityThreshold: 0,
    };

    //preciso criar cada gráfico individualmente para adicionar um listener para cada gráfico e detectar a interatividade individualmente. Da mesma forma cada gráfico precisa ter sua dataTable disponível para queja possível acessar o valor selecionado no gráfico pelo usuário
    if (chart_name == "chart_percentuais_frequencia") { 
      //cria a dataTable
      data_table_percentuais_frequencias = new google.visualization.DataTable();
      data_table_percentuais_frequencias.addColumn(tipo_coluna1, coluna_1);
      data_table_percentuais_frequencias.addColumn(tipo_coluna2, coluna_2);

      //popula a dataTable
      for (let i = 0; i < dados.length; i++) {
        data_table_percentuais_frequencias.addRows([dados[i]]);
      }

      //cria o gráfico, adiciona o listner para interatividade, centraliza o título e desenha o gráfico
      chart_percentuais_frequencia = new google.visualization.PieChart(document.getElementById(chart_div));
      google.visualization.events.addListener(chart_percentuais_frequencia, 'ready', titleCenter);
      google.visualization.events.addListener(chart_percentuais_frequencia, 'select', select_handler_percentuais_frequencias);
      chart_percentuais_frequencia.draw(data_table_percentuais_frequencias, options);
    } 
    else {
      //Repetir lógica acima para outros gráficos, caso venham a existir
    }
  }

  //Funções Gerais
  function formataRetorno(dados, label_linha_1, label_linha_2, label_linha_3, label_linha_4, label_linha_5, label_linha_6, label_linha_7, label_linha_8){
    //pega o retorno da consulta (que vem em uma linha) e quebra em duas colunas e varias linhas, adicionando o label da linha para poder gerar o grafico
    let dadosNovo = dados[0].toString().split(",");
    let posicao1 = [label_linha_1,parseInt(dadosNovo[0], 10)];
    let posicao2 = [label_linha_2,parseInt(dadosNovo[1], 10)];
    let posicao3 = [label_linha_3,parseInt(dadosNovo[2], 10)];
    let posicao4 = [label_linha_4,parseInt(dadosNovo[3], 10)];
    let posicao5 = [label_linha_5,parseInt(dadosNovo[4], 10)];
    let posicao6 = [label_linha_6,parseInt(dadosNovo[5], 10)];
    let posicao7 = [label_linha_7,parseInt(dadosNovo[6], 10)];
    let posicao8 = [label_linha_8,parseInt(dadosNovo[7], 10)];
    let dadosNovoArray= [posicao1, posicao2, posicao3, posicao4, posicao5, posicao6, posicao7, posicao8];
    return dadosNovoArray;
  }

  function persistirParametros(chave, valor){
    //persiste na seção os valores do parametros utilizados nas consultas da página de detalhes
    sessionStorage.removeItem(chave);
    sessionStorage.setItem(chave, valor);
  }

  function definirQuerySelector(querySelector){
    //altera o querySelector para executar a consulta de detalhes correspondente
    if (querySelector == "campus"){
      persistirParametros("querySelector", "campus_detalhes");
    } else if (querySelector == "periodo"){
      persistirParametros("querySelector", "periodo_detalhes");
    } else if(querySelector == "curso"){
      persistirParametros("querySelector", "curso_detalhes");
    } else if(querySelector == "turma"){
      persistirParametros("querySelector", "turma_detalhes");
    }
    // window.location.href="{% url 'detalhes' %}"; //Redireciona para a página de detalhes
    gerarDetalhamento();
  }

  function titleCenter() {
    // Função que centraliza o título do gráfico
    var chart_div_container = '#' + chart_div;
    var $container = $(chart_div_container);
    var svgWidth = $container.find('svg').width();
    // var $titleElem = $container.find("text:contains(" + options.title + ")");
    var $titleElem = $container.find("text:contains(" + titulo_grafico + ")");
    var titleWidth = $titleElem.html().length * ($titleElem.attr('font-size')/2);
    var xAxisAlign = (svgWidth - titleWidth)/2;
    $titleElem.attr('x', xAxisAlign);
  }

  //Funções handler para interatividade de cada um dos gráficos
  function select_handler_percentuais_frequencias() {
    var selectedItem = chart_percentuais_frequencia.getSelection()[0];
    if (selectedItem) {
      var parametroDetalhes = data_table_percentuais_frequencias.getValue(selectedItem.row, 0);
      
      if (parametroDetalhes == "100% de frequência") {
        persistirParametros("parametroDetalhes", 100);
      } else if (parametroDetalhes == "95% a 100% de frequência") {
        persistirParametros("parametroDetalhes", ["95", "100"]);
      } else if (parametroDetalhes == "90% a 95% de frequência") {
        persistirParametros("parametroDetalhes", ["90", "95"]);
      } else if (parametroDetalhes == "85% a 90% de frequência") {
        persistirParametros("parametroDetalhes", ["85", "90"]);
      } else if (parametroDetalhes == "80% a 85% de frequência") {
        persistirParametros("parametroDetalhes", ["80", "85"]);
      } else if (parametroDetalhes == "75% a 80% de frequência") {
        persistirParametros("parametroDetalhes", ["75", "80"]);
      } else if (parametroDetalhes == "Menos de 75% de frequência") {
        persistirParametros("parametroDetalhes", 75);
      } else if (parametroDetalhes == "Alunos sem frequencia") {
        persistirParametros("parametroDetalhes", null);
      }

      persistirParametros("url_consulta", "/get_data_percentuais_frequencia/");
      persistirParametros("array_cabecalho", ["#", "Matricula", "Nome", "Curso", "Disciplina", "% Frequência", "E-mail"]);
      persistirParametros("titulo_tabela_detalhes", "Detalhamento do Percentual de Frequências");
      definirQuerySelector(sessionStorage.getItem("querySelector")); 
    }
  }
</script>

<div id="dashboards"> <!-- ÁREA DE PLOTAGEM DOS GRÁFICOS -->
  <div id="pieChart_percentuais_frequencia" class="grafico alinha_grafico_esquerda"></div>
</div>

{% include 'ifAnalytics/detalhes.html' %}
{% endblock %}