{% extends 'ifAnalytics/base.html' %}

{% block content %}
<script> //GRÁFICO 1: FORMA DE INGRESSO - Primeira versão (original)

  let data_forma_ingresso

  function renderChartFormaIngresso(querySelector, campusId, ano, semestre, cursoId, turmaId){
    //salvando os parametros na sessionStorage para ser possível acessa-los da página de detalhes
    //só é preciso executar uma vez por página, já que todos os gráficos são gerados juntos e com os mesmos parametros
    persistirParametros("querySelector", querySelector); 
    persistirParametros("campusId", campusId); 
    persistirParametros("ano", ano); 
    persistirParametros("semestre", semestre); 
    persistirParametros("cursoId", cursoId); 
    persistirParametros("turmaId", turmaId); 

    //pegando os dados da view "get_data_forma_ingresso" para popular o gráfico
    $.ajax({
        method: "GET",
        url: '/get_data_forma_ingresso/', 
        data: {
          'campus_id' : campusId,
          'curso_id' : cursoId,
          'ano' : ano,
          'semestre' : semestre,
          'turma_id': turmaId,
          'querySelector' : querySelector
       },
       success: function(data_from_view){
         data_forma_ingresso = data_from_view
         google.charts.setOnLoadCallback(function() {drawChart_forma_ingresso(data_forma_ingresso);});
       },
       error: function(error_data){
          console.log("error")
          console.log(error_data)
       }
    })
  }

  // Populando o gráfico com dados
  function drawChart_forma_ingresso(data_forma_ingresso) {
    let data = new google.visualization.DataTable();
    data.addColumn('string', 'Forma de Ingresso');
    data.addColumn('number', 'Alunos');

    for (let i = 0; i < data_forma_ingresso.length; i++) {
            data.addRows([data_forma_ingresso[i]]);
    }

    let options = {
      title: 'Forma de Ingresso',
      backgroundColor: '#E1F0DB',
      chartArea: {left: 10, height: 250, width: 600},
      legend: {textStyle: {fontSize: 10}},
      titleTextStyle: {fontSize:14, bold: true, color:'grey'},
      sliceVisibilityThreshold: 0,
    };

    let chart = new google.visualization.PieChart(document.getElementById('pieChart_forma_ingresso'));

    // Função que permite a interatividade com o gráfico
    function selectHandler() {
      var selectedItem = chart.getSelection()[0];
      if (selectedItem) {
        var parametroDetalhes = data.getValue(selectedItem.row, 0);
        persistirParametros("parametroDetalhes", parametroDetalhes); //persiste aqui o parametro selecionado no gráfico
        persistirParametros("url_consulta", "/get_data_forma_ingresso/"); //persiste aqui a url da consulta a ser executada na pg detalhes
        persistirParametros("array_cabecalho", ["Matricula", "Nome", "Curso", "Forma ingresso", "E-mail"]); //persiste inf. cabeçalho tabela
        definirQuerySelector(sessionStorage.getItem("querySelector")); //chama a função, passando o querySelector atual para definir o novo querySelector que dirá que consulta da view será executada na página de detalhes
      }
    }

    //Listen for the 'select' event, and call my function selectHandler() when the user selects something on the chart.
    google.visualization.events.addListener(chart, 'select', selectHandler);

    chart.draw(data, options); //Desenha o gráfico (função original do charts antes da interatividade)
  }


</script>


<script> //GRÁFICO 2: STATUS DISCENTE - Segunda versão, usando parametros para chamar a função que desenha os gráficos

  let dados
  let tipo_coluna1
  let tipo_coluna2

  function renderChartStatusDiscente(querySelector, campusId, ano, semestre, cursoId, turmaId){
    //pegando os dados da view "get_data_status_discente" para popular o gráfico
    $.ajax({
        method: "GET",
        url: '/get_data_status_discente/', 
        data: {
          'campus_id' : campusId,
          'curso_id' : cursoId,
          'ano' : ano,
          'semestre' : semestre,
          'turma_id': turmaId,
          'querySelector' : querySelector
       },
       success: function(data_from_view){
         dados = data_from_view
         tipo_coluna1 = 'string'
         tipo_coluna2 = 'number'
         coluna_1 = 'Status dos Discentes'
         coluna_2 = 'Quantidade de Alunos'
         titulo_grafico = 'Status dos Discentes'
         chart_name = 'chart_status_discente'
         google.charts.setOnLoadCallback(function() {drawGeralPizza(dados, tipo_coluna1, coluna_1, tipo_coluna2, coluna_2, titulo_grafico, chart_name);});
       },
       error: function(error_data){
          console.log("error")
          console.log(error_data)
       }
    })
  }
</script>


<script> //GRÁFICO 3: TOTAL MATRICULAS (EM COLUNAS)

   function renderChartTotalMatriculas(querySelector, campusId, ano, semestre, cursoId, turmaId){
    //pegando os dados da view "get_data_total_matriculas" para popular o gráfico
    $.ajax({
        method: "GET",
        url: '/get_data_total_matriculas/', 
        data: {
          'campus_id' : campusId,
          'curso_id' : cursoId,
          'ano' : ano,
          'semestre' : semestre,
          'turma_id': turmaId,
          'querySelector' : querySelector
       },
       success: function(data_from_view){
         dados = data_from_view
         tipo_coluna1 = 'number'
         tipo_coluna2 = 'number'
         titulo_grafico = 'Quantidade de disciplinas pela respectiva quantidade de alunos' //'Quantidade de alunos matriculados em um total de X disciplinas'
         titulo_hAxis = 'Disciplinas'
         titulo_vAxis = 'Alunos'
         chart_name = 'chart_total_matriculados'
         google.charts.setOnLoadCallback(function() {drawGeralColuna(dados, tipo_coluna1, 'Disciplinas', tipo_coluna2, 'Quantidade_Alunos', titulo_grafico, titulo_hAxis, titulo_vAxis, chart_name);});
       },
       error: function(error_data){
          console.log("error")
          console.log(error_data)
       }
    })
  }
</script>

<script> //GRÁFICO 4 e 5: CONCLUÍNTES E NÃO CONCLUÍNTES (EM COLUNAS)

   function renderChartConcluintes(querySelector, campusId, ano, semestre, cursoId, turmaId){
    //pegando os dados da view "get_data_concluintes" para popular o gráfico
    $.ajax({
        method: "GET",
        url: '/get_data_concluintes/', 
        data: {
          'campus_id' : campusId,
          'curso_id' : cursoId,
          'ano' : ano,
          'semestre' : semestre,
          'turma_id': turmaId,
          'querySelector' : querySelector
       },
       success: function(data_from_view){
         dados = data_from_view
         let dadosNovoArray = formataRetorno(dados, "Alunos que Passaram do Prazo de Conclusão", "Alunos Formandos");
         tipo_coluna1 = 'string'
         tipo_coluna2 = 'number'
         titulo_grafico = 'Não Concluíntes e Formandos'
         titulo_hAxis = 'Não Concluíntes e Formandos'
         titulo_vAxis = ''
         chart_name = 'chart_concluintes'
         google.charts.setOnLoadCallback(function() {drawGeralColuna(dadosNovoArray, tipo_coluna1, 'Situação', tipo_coluna2, 'Quantidade', titulo_grafico, titulo_hAxis, titulo_vAxis, chart_name);});
       },
       error: function(error_data){
          console.log("error")
          console.log(error_data)
       }
    })
  }
</script>

<script> //GRÁFICO 6: TAMANHO DAS TURMAS (EM COLUNAS)

   function renderChartTamanhoTurmas(querySelector, campusId, ano, semestre, cursoId, turmaId){
    //pegando os dados da view "get_data_tamanho_turmas" para popular o gráfico
    $.ajax({
        method: "GET",
        url: '/get_data_tamanho_turmas/', 
        data: {
          'campus_id' : campusId,
          'curso_id' : cursoId,
          'ano' : ano,
          'semestre' : semestre,
          'turma_id': turmaId,
          'querySelector' : querySelector
       },
       success: function(data_from_view){
         dados = data_from_view
         tipo_coluna1 = 'string'
         tipo_coluna2 = 'number'
         titulo_grafico = 'Tamanho da(s) Turma(s)'
         titulo_hAxis = 'Disciplinas'
         titulo_vAxis = 'Alunos Matriculados'
         chart_name = 'chart_tamanho_turmas'
         google.charts.setOnLoadCallback(function() {drawGeralColuna(dados, tipo_coluna1, 'Disciplina', tipo_coluna2, 'Alunos_matriculados', titulo_grafico, titulo_hAxis, titulo_vAxis, chart_name);});
       },
       error: function(error_data){
          console.log("error")
          console.log(error_data)
       }
    })
  }
</script>


<script> //GRÁFICO 7: DISCENTES EVADIDOS
  function renderChartDiscentesEvadidos(querySelector, campusId, ano, semestre, cursoId, turmaId){
    //pegando os dados da view "get_data_discentes_evadidos" para popular o gráfico
    $.ajax({
        method: "GET",
        url: '/get_data_discentes_evadidos/', 
        data: {
          'campus_id' : campusId,
          'curso_id' : cursoId,
          'ano' : ano,
          'semestre' : semestre,
          'turma_id': turmaId,
          'querySelector' : querySelector
       },
       success: function(data_from_view){
         dados = data_from_view
         tipo_coluna1 = 'string'
         tipo_coluna2 = 'number'
         titulo_grafico = 'Discentes Evadidos'
         titulo_hAxis = 'Disciplinas'
         titulo_vAxis = 'Alunos Evadidos'
         chart_name = 'chart_discentes_evadidos'
         google.charts.setOnLoadCallback(function() {drawGeralColuna(dados, tipo_coluna1, 'Discentes Evadidos', tipo_coluna2, 'Alunos_evadidos', titulo_grafico, titulo_hAxis, titulo_vAxis, chart_name);});
       },
       error: function(error_data){
          console.log("error")
          console.log(error_data)
       }
    })
  }
</script>


<script> //POPULANDO OS GRÁFICOS!
  // Funções que populam os gráficos com dados

  function drawGeralPizza(dados, tipo_coluna1, coluna_1, tipo_coluna2, coluna_2, titulo_grafico, chart_name){

    let options = {
      title: titulo_grafico,
      backgroundColor: '#E1F0DB',
      chartArea: {left: 10, height: 250, width: 600},
      legend: {textStyle: {fontSize: 10}},
      titleTextStyle: {fontSize:14, bold: true, color:'grey'},
      sliceVisibilityThreshold: 0,
    };

    //preciso criar cada gráfico individualmente para adicionar um listener para cada gráfico e detectar a interatividade individualmente. Da mesma forma cada gráfico precisa ter sua dataTable disponível para queja possível acessar o valor selecionado no gráfico pelo usuário
    if (chart_name == "chart_status_discente") { 
      //cria a dataTable
      data_table_status_discente = new google.visualization.DataTable();
      data_table_status_discente.addColumn(tipo_coluna1, coluna_1);
      data_table_status_discente.addColumn(tipo_coluna2, coluna_2);

      //popula a dataTable
      for (let i = 0; i < dados.length; i++) {
        data_table_status_discente.addRows([dados[i]]);
      }

      //cria o gráfico, adiciona o listner para interatividade e desenha o gráfico
      chart_status_discente = new google.visualization.PieChart(document.getElementById('pieChart_status_discente'));
      google.visualization.events.addListener(chart_status_discente, 'select', select_handler_status_discente);
      chart_status_discente.draw(data_table_status_discente, options);
    } 
    else {
      //Como o gráfico de forma de ingresso foi feito de forma diferente não tem outro gráfico de pizza para ir aqui
    }
  }

  function drawGeralColuna(dados, tipo_coluna1, coluna_1, tipo_coluna2, coluna_2, titulo_grafico, titulo_hAxis, titulo_vAxis, chart_name) {
    
    let options = {
      title: titulo_grafico,
      hAxis: {
        title: titulo_hAxis
      },
      vAxis: {
        title: titulo_vAxis
      },
      backgroundColor: '#E1F0DB',
      chartArea: {left: 10, height: 250, width: 600},
      legend: {textStyle: {fontSize: 10}},
      titleTextStyle: {fontSize:14, bold: true, color:'grey'},
    };

    //preciso criar cada gráfico individualmente para adicionar um listener para cada gráfico e detectar a interatividade individualmente.  Da mesma forma cada gráfico precisa ter sua dataTable disponível para queja possível acessar o valor selecionado no gráfico pelo usuário
    if (chart_name == "chart_total_matriculados") {
      //cria a dataTable
      data_table_total_matriculados = new google.visualization.DataTable();
      data_table_total_matriculados.addColumn(tipo_coluna1, coluna_1);
      data_table_total_matriculados.addColumn(tipo_coluna2, coluna_2);

      //popula a dataTable
      for (let i = 0; i < dados.length; i++) {
        data_table_total_matriculados.addRows([dados[i]]);
      }

      //cria o gráfico, adiciona o listner para interatividade e desenha o gráfico
      chart_total_matriculados = new google.visualization.ColumnChart(document.getElementById('columnChart_total_matriculas'));
      google.visualization.events.addListener(chart_total_matriculados, 'select', select_handler_total_matriculados);
      chart_total_matriculados.draw(data_table_total_matriculados, options);
    }
    else if (chart_name == "chart_concluintes") { 
      //cria a dataTable
      data_table_concluintes = new google.visualization.DataTable();
      data_table_concluintes.addColumn(tipo_coluna1, coluna_1);
      data_table_concluintes.addColumn(tipo_coluna2, coluna_2);

      //popula a dataTable
      for (let i = 0; i < dados.length; i++) {
        data_table_concluintes.addRows([dados[i]]);
      }

      //cria o gráfico, adiciona o listner para interatividade e desenha o gráfico
      chart_concluintes = new google.visualization.ColumnChart(document.getElementById('columnChart_concluintes'));
      google.visualization.events.addListener(chart_concluintes, 'select', select_handler_concluintes);
      chart_concluintes.draw(data_table_concluintes, options);
    }
    else if (chart_name == "chart_tamanho_turmas") { 
      //cria a dataTable
      data_table_tamanho_turmas = new google.visualization.DataTable();
      data_table_tamanho_turmas.addColumn(tipo_coluna1, coluna_1);
      data_table_tamanho_turmas.addColumn(tipo_coluna2, coluna_2);

      //popula a dataTable
      for (let i = 0; i < dados.length; i++) {
        data_table_tamanho_turmas.addRows([dados[i]]);
      }

      //cria o gráfico, adiciona o listner para interatividade e desenha o gráfico
      chart_tamanho_turmas = new google.visualization.ColumnChart(document.getElementById('columnChart_tamanho_turmas'));
      google.visualization.events.addListener(chart_tamanho_turmas, 'select', select_handler_tamanho_turmas);
      chart_tamanho_turmas.draw(data_table_tamanho_turmas, options);
    }
    else if (chart_name == "chart_discentes_evadidos") { 
      //cria a dataTable
      data_table_discentes_evadidos = new google.visualization.DataTable();
      data_table_discentes_evadidos.addColumn(tipo_coluna1, coluna_1);
      data_table_discentes_evadidos.addColumn(tipo_coluna2, coluna_2);

      //popula a dataTable
      for (let i = 0; i < dados.length; i++) {
        data_table_discentes_evadidos.addRows([dados[i]]);
      }

      //cria o gráfico, adiciona o listner para interatividade e desenha o gráfico
      chart_discentes_evadidos = new google.visualization.ColumnChart(document.getElementById('columnChart_discentes_evadidos'));
      google.visualization.events.addListener(chart_discentes_evadidos, 'select', select_handler_discentes_evadidos);
      chart_discentes_evadidos.draw(data_table_discentes_evadidos, options);
    }
  }
</script>

<script> //FUNÇÕES GERIAS

  function formataRetorno(dados, label_linha_1, label_linha_2){
    //pega o retorno da consulta (que vem em uma linha) e quebra em duas linhas, adicionando o label da linha para poder gerar o grafico
    let dadosNovo = dados[0].toString().split(",");
    let posicao1 = [label_linha_1,parseInt(dadosNovo[0], 10)];
    let posicao2 = [label_linha_2,parseInt(dadosNovo[1], 10)];
    let dadosNovoArray= [posicao1, posicao2];
    return dadosNovoArray;
  }

  function persistirParametros(chave, valor){
    //persiste na seção os valores do parametros utilizados nas consultas da página de detalhes
    sessionStorage.removeItem(chave);
    sessionStorage.setItem(chave, valor);
  }

  function definirQuerySelector(querySelector){
    //altera o querySelector para executar a consulta de detalhes correspondente
    if (querySelector == "campus"){
      persistirParametros("querySelector", "campus_detalhes");
    } else if (querySelector == "periodo"){
      persistirParametros("querySelector", "periodo_detalhes");
    } else if(querySelector == "curso"){
      persistirParametros("querySelector", "curso_detalhes");
    } else if(querySelector == "turma"){
      persistirParametros("querySelector", "turma_detalhes");
    }
    window.location.href="{% url 'detalhes' %}"; //Redireciona para a página de detalhes
  }
</script>

<script> //FUNÇÕES HANDLER PARA INTERATIVIDADE DE CADA UM DOS GRÁFICOS
  // É necessário fazer uma função por gráfico pq cada gráfico precisa de um listener para capturar a seleção do usuário no gráfico. As funções handler, pela documentação, não aceitam envio e recebimento de parametros (https://developers.google.com/chart/interactive/docs/events) e em cada função handler eu preciso saber o nome do gráfico para utilizar a função nome_do_grafico.getSelection(). Preciso saber qual o parametro de detalhe específico do gráfico para executar a consulta de detalhes e preciso tbm definir qual a URL da consulta que será executada nos detalhes. Por isso tive que repetir código, criando uma função para cada gráfico.

  function select_handler_status_discente() {
    var selectedItem = chart_status_discente.getSelection()[0];
    if (selectedItem) {
      var parametroDetalhes = data_table_status_discente.getValue(selectedItem.row, 0);
      persistirParametros("parametroDetalhes", parametroDetalhes); 
      persistirParametros("url_consulta", "/get_data_status_discente/");
      persistirParametros("array_cabecalho", ["Matricula", "Nome", "Curso", "Status", "E-mail"]);
      definirQuerySelector(sessionStorage.getItem("querySelector")); 
    }
  }

  function select_handler_total_matriculados() {
    var selectedItem = chart_total_matriculados.getSelection()[0];
    if (selectedItem) {
      var parametroDetalhes = data_table_total_matriculados.getValue(selectedItem.row, 0);
      persistirParametros("parametroDetalhes", parametroDetalhes); 
      persistirParametros("url_consulta", "/get_data_total_matriculas/");
      persistirParametros("array_cabecalho", ["Matricula", "Nome", "Curso", "Quantidade de Disciplinas Matriculadas", "E-mail"]);
      definirQuerySelector(sessionStorage.getItem("querySelector"));
    }
  }

  function select_handler_concluintes() {
    var selectedItem = chart_concluintes.getSelection()[0];
    if (selectedItem) {
      var colunaSelecionada = data_table_concluintes.getValue(selectedItem.row, 0); //esse parametro é usado qnd o mesmo gráfico representa duas consultas diferentes. Nesse caso eu preciso saber se os detalhes são para os alunos não concluintes ou para os concluintes, pq isso muda qual consulta vai ser executada nos detalhes
      var parametroDetalhes = data_table_concluintes.getValue(selectedItem.row, 1);
      persistirParametros("colunaSelecionada", colunaSelecionada);
      persistirParametros("parametroDetalhes", parametroDetalhes); //não está sendo usado nessa consulta, pq eu listo todos os alunos da coluna selecionada
      persistirParametros("url_consulta", "/get_data_concluintes/"); 
      persistirParametros("array_cabecalho", ["Matricula", "Nome", "Curso", "Prazo de Conclusão", "E-mail"]);
      definirQuerySelector(sessionStorage.getItem("querySelector"));
    }
  }

  function select_handler_tamanho_turmas() {
    var selectedItem = chart_tamanho_turmas.getSelection()[0];
    if (selectedItem) {
      var parametroDetalhes = data_table_tamanho_turmas.getValue(selectedItem.row, 0);
      persistirParametros("parametroDetalhes", parametroDetalhes);
      persistirParametros("url_consulta", "/get_data_tamanho_turmas/"); 
      persistirParametros("array_cabecalho", ["Matricula", "Nome", "Curso", "Disciplina", "E-mail"]);
      definirQuerySelector(sessionStorage.getItem("querySelector"));
    }
  }

  function select_handler_discentes_evadidos() {
    var selectedItem = chart_discentes_evadidos.getSelection()[0];
    if (selectedItem) {
      var parametroDetalhes = data_table_discentes_evadidos.getValue(selectedItem.row, 0);
      persistirParametros("parametroDetalhes", parametroDetalhes);
      persistirParametros("url_consulta", "/get_data_discentes_evadidos/"); 
      persistirParametros("array_cabecalho", ["Matricula", "Nome", "Curso", "XXXXXXX", "E-mail"]);
      definirQuerySelector(sessionStorage.getItem("querySelector"));
    }
  }

</script>

<div id="dashboards"> <!-- ÁREA DE PLOTAGEM DOS GRÁFICOS -->
	<div id="pieChart_forma_ingresso" class="grafico alinha_grafico_esquerda"></div>
  <div id="pieChart_status_discente" class="grafico alinha_grafico_direita"></div>
  <div id="columnChart_total_matriculas" class="grafico alinha_grafico_esquerda"></div>
  <div id="columnChart_concluintes" class="grafico alinha_grafico_direita"></div>
  <div id="columnChart_tamanho_turmas" class="grafico alinha_grafico_esquerda"></div>
  <div id="columnChart_discentes_evadidos" class="grafico alinha_grafico_direita"></div>
</div>
{% endblock %}