{% extends 'ifAnalytics/base.html' %}

{% block content %}
<script> //GRÁFICO FORMA DE INGRESSO
              //pegando os dados da view "get_data_forma_ingresso" para popular o gráfico
              // $( document ).ready(function() {     
                     var data_forma_ingresso;
                     var campusId = $("#campus").val();
                     // alert(campusId); 
                     $.ajax({
                         method: "GET",
                         url: '/get_data_forma_ingresso/',
                         data: {
                              // 'campus_id' : 31
                              'campus_id' : campusId
                         },
                         success: function(data_from_view){
                           data_forma_ingresso = data_from_view
                         },
                         error: function(error_data){
                            console.log("error")
                            console.log(error_data)
                         }
                     })
                 // })     
                            
              google.charts.setOnLoadCallback(function() {drawChart_forma_ingresso(data_forma_ingresso);});

              // Populando o gráfico com dados
              function drawChart_forma_ingresso(data_forma_ingresso) {
                     data = new google.visualization.DataTable();
                     data.addColumn('string', 'Forma de Ingresso');
                     data.addColumn('number', 'Alunos');

                     for (var i = 0; i < data_forma_ingresso.length; i++) {
                            data.addRows([data_forma_ingresso[i]]);
                     }

                     var options = {
                            title: 'Forma de Ingresso',
                            backgroundColor: '#E1F0DB',
                            chartArea: {left: 10, height: 250, width: 600},
                            legend: {textStyle: {fontSize: 10}},
                            titleTextStyle: {fontSize:14, bold: true, color:'grey'},
                            sliceVisibilityThreshold: 0,
                     };

                     var chart = new google.visualization.PieChart(document.getElementById('piechart_forma_ingresso'));

                     chart.draw(data, options);
              }
</script>

<script> //GRÁFICO STATUS DISCENTE
              //pegando os dados da view "get_data_status_discente" para popular o gráfico
              var data_status_discente;
              $.ajax({
                  method: "GET",
                  url: '/get_data_status_discente/',
                  success: function(data_from_view){
                     data_status_discente = data_from_view
                  },
                  error: function(error_data){
                     console.log("error")
                     console.log(error_data)
                  }
              })

              google.charts.setOnLoadCallback(function() {drawChart_status_discente(data_status_discente);});

              // Populando o gráfico com dados
              function drawChart_status_discente(data_status_discente) {
                     data = new google.visualization.DataTable();
                     data.addColumn('string', 'Status dos Discentes');
                     data.addColumn('number', 'Alunos');
                     
                     for (var i = 0; i < data_status_discente.length; i++) {
                            data.addRows([data_status_discente[i]]);
                     }

                     var options = {
                            title: 'Status dos Discentes',
                            backgroundColor: '#E1F0DB',
                            chartArea: {left: 10, height: 250, width: 600},
                            legend: {textStyle: {fontSize: 11}},
                            titleTextStyle: {fontSize:14, bold: true, color:'grey'},
                            sliceVisibilityThreshold: 0,
                     };

                     var chart = new google.visualization.PieChart(document.getElementById('piechart_status_discente'));

                     chart.draw(data, options);
              }
</script>


<div id="dashboards">
	<!-- Plotagem do gráfico -->
	<div id="piechart_forma_ingresso" style="width: 600px; height: 300px;"></div>
       <br>
       <div id="piechart_status_discente" style="width: 600px; height: 300px;"></div>
</div>
{% endblock %}