{% extends 'ifAnalytics/base.html' %}
{% load static %} <!-- carregamento de arquivos estaticos Django -->

{% block content %}
<div id="dashboards" class="conteudo_suporte">


	<div class="itens_suporte">
		<h1><u>Página de Suporte do IfAnalytics</u></h1>
		<p>
			O IfAnalytics é produto de uma dissertação do Mestrado Profissional em Informática na Educação e tem por objetivo auxiliar o gestor acadêmico na obtenção de informações relevantes e importantes para realização de forma efetiva e eficiênte das suas atividades de gestão, tendo por base dados oriundos do banco de dados do sistema acadêmico.<br><br>

			É importante ressaltar que as informações apresentadas dizem respeito apenas aos cursos cadastrados no Sistema Integrado de Gestão de Atividades Acadêmicas - SIGAA do IFRS.
		</p>
	</div>

	<div class="itens_suporte">
		<hr>
		<h2><u><a name="topo"></a>Índice</u></h2>
		<p>
			<ul class="remove_marcador">
				<li><a href="#MenuSuperior">Menu Superior</a></li>
				<li><a href="#MenuLateral">Menu Lateral</a></li>
				<li><a href="#filtros1">Filtros</a></li>
				<li><a href="#tabelaDetalhes">Tabela Detalhes</a></li>
				<li><a href="#grafico1">Gráfico 1 - Forma de Ingresso</a></li>
				<li><a href="#grafico2">Gráfico 2 - Status dos Discentes</a></li>
				<li><a href="#grafico3">Gráfico 3 - Quantidade de Disciplinas em que os Alunos se Matricularam</a></li>
				<li><a href="#grafico4">Gráfico 4 - Jubilados, em Vias de Jubilar e Formandos</a></li>
				<li><a href="#grafico5">Gráfico 5 - Tamanho da(s) Turmas(s)</a></li>
				<li><a href="#grafico6">Gráfico 6 - Discentes Evadidos por Disciplinas</a></li>
				<li><a href="#grafico7">Gráfico 7.1 e 7.2 - Notas Parciais Unidade 1 e 2</a></li>
				<li><a href="#grafico8">Gráfico 8 - Médias Finais</a></li>
				<li><a href="#grafico9">Gráfico 9 - Discentes em Exame</a></li>
				<li><a href="#grafico10">Gráfico 10 - Aprovados e Reprovados</a></li>
				<li><a href="#grafico11">Gráfico 11 - Status nas Disciplinas</a></li>
				<li><a href="#grafico12">Gráfico 12 - Percentuais de Frequências</a></li>
				<li><a href="#contato">Contato</a></li>
			</ul>
		</p>
	</div>

	<div class="itens_suporte">
		<hr>
		<h3><u><a name="MenuSuperior"></a>Menu Superior</u></h3>
		<p>
			<img id="img_menu_superior" src="{% static 'images/suporte/img_menu_superior.png' %}" alt="Menu Superior" class="imagem_suporte" onclick="abrirModal(this)">
			O menu superior oferece opções para seleção do nível de ensino das informações que serão mostradas nos gráficos, além de acesso a página inicial e a sair do sistema. <br><br>
			As opções disponíveis são:
			<ul>
				<li>
					<b>Integrado:</b> Mostra informações dos cursos Técnicos Integrados;
				</li><br>
				<li>
					<b>Técnico:</b> Mostra informações dos cursos Técnicos;
				</li><br>
				<li>
					<b>Graduação:</b> Mostra informações dos cursos de Graduação;
				</li><br>
				<li>
					<b>Pós-Graduação:</b> Mostra informações dos cursos de Pós-Graduação;
				</li><br>
				<li>
					<b>Home:</b> Leva à página inicial;
				</li><br>
				<li>
					<b>Sair:</b> Efetua o logoff do sistema.
				</li>
			</ul>
			<p class="alinha_direita"><a href="#topo">Voltar ao Topo</a></p>
		</p>
	</div>

	<div class="itens_suporte">
		<hr>
		<h3><u><a name="MenuLateral"></a>Menu Lateral</u></h3>
		<p>
			<img id="img_menu_lateral" src="{% static 'images/suporte/img_menu_lateral.png' %}" alt="Menu Lateral" class="imagem_suporte" onclick="abrirModal(this)">
			O menu lateral tem por objetivo separar informações que tem relação entre si.
			<ul>
				<li>
					<b>No menu Geral</b> são apresentados gráficos com informações de cunho geral, como: Forma de Ingresso, Status dos Discentes, Quantidade de Matrículas, Número de Alunos Formandos, Jubilados, ou em vias de Jubilar, Tamanho de Turmas e Discentes Evadidos;
				</li><br>
				<li>
					<b>No menu Notas</b> são apresentados gráficos com informações relativas a notas, como: Notas Parciais das Unidades 1 e 2, Médias Finais, Discentes em Exame, Número de Aprovados, Número de Reprovados e Status nas Disciplinas;
				</li><br>
				<li>
					<b>No menu Frequências</b> é exibido um único gráfico com informações relacionadas aos percentuais de frequências dos discentes;
				</li><br>
				<li>
					<b>No menu Suporte</b> são exibidas informações de ajuda ao usuário.
				</li>
			</ul>
			<p class="alinha_direita"><a href="#topo">Voltar ao Topo</a></p>
		</p>
	</div>

	<div class="itens_suporte">
		<hr>
		<h3><u><a name="filtros1"></a>Filtros</u></h3>
		<p>
			<img id="img_filtros" src="{% static 'images/suporte/img_filtros.png' %}" alt="Filtros" class="imagem_suporte" onclick="abrirModal(this)">
			A área de filtros permite a seleção de diferentes parâmetros para restringir e especificar melhor as informações mostradas nos gráficos.
			<ul>
				<li>
					<b>A caixa de seleção Campus</b> permite selecionar qual será o campus das informações mostradas nos gráficos. <br>
					Existe também a opção "INSTITUTO FEDERAL RIO GRANDE DO SUL" que mostra informações de todos os campus do IFRS de forma unificada;
				</li><br>
				<li>
					<b>A caixa de seleção Período</b> permite selecionar qual o ano/semestre das informações mostradas nos gráficos. <br>
					Importante destacar que somente aparecerão os períodos cadastrados no campus selecionado anteriormente no filtro "Campus";
				</li><br>
				<li>
					<b>A caixa de seleção Curso</b> permite selecionar qual o curso das informações mostradas nos gráficos. <br>
					Importante destacar que somente aparecerão os cursos cadastrados no campus selecionado anteriormente no filtro "Campus" e que estejam no nível de ensino selecionado no "Menu Superior";
				</li><br>
				<li>
					<b>A caixa de seleção Turma</b> permite selecionar qual é a turma das informações mostradas nos gráficos. <br>
					Importante destacar que no SIGAA o conceito de "turma" representa a caracterização de um grupo de estudantes que estão matriculados na mesma disciplina e tem suas aulas ministradas em um determinado dia e horário da semana por um professor(a) especifico.<br>
					A apresentação das turmas dentro da caixa de seleção "Turma" representa as informações conforme exemplo abaixo:<br><br>
					<i>"01 - CAX-QUI001 - QUÍMICA GERAL"</i>. <br><br>
					Onde:
					<ul>
						<li>
							<i>"01"</i> é o Número da Turma;
						</li>
						<li>
							<i>"CAX-QUI001"</i> é o Código da Disciplina;
						</li>
						<li>
							<i>"QUÍMICA GERAL"</i> é o Nome da Disciplina.
						</li>
					</ul>
				</li>
			</ul>
			Importante destacar que as opções disponíveis para seleção nos filtros pode variar de acordo com o seu nível de permissão de acesso.
			<p class="alinha_direita"><a href="#topo">Voltar ao Topo</a></p>
		</p>
	</div>

	<div class="itens_suporte">
		<hr>
		<h3><u><a name="tabelaDetalhes"></a>Tabela Detalhes</u></h3>
		<p>
			<img id="img_tabela_detalhes" src="{% static 'images/suporte/img_tabela_detalhes.png' %}" alt="Tabela Detalhes" class="imagem_suporte" onclick="abrirModal(this)">
			Ao clicar sobre qualquer fatia ou barra dos gráficos apresentados, a tabela detalhes é exibida com informações adicionais para maior detalhamento dos alunos que compoem aquela parcela do gráfico. <br><br>

			Cada gráfico possui um conjunto diferente de informações na tabela detalhes. <br><br>

			Os ícones da coluna contato são clicáveis e permitem acesso ao endereço de e-mail e telefone/WhatsApp do discente. <br><br>

			<span style="color: red"><u><i><b>IMPORTANTE:</b></i></u></span> Sempre utilize o botão "Voltar" que aparece no fim da tabela detalhes para retornar aos gráficos. <br><br>

			Alternativamente, também é possível alterar a seleção feita nos filtros para voltar a visualizar os gráficos.
			<p class="alinha_direita"><a href="#topo">Voltar ao Topo</a></p>
		</p>
	</div>

	<div class="itens_suporte">
		<hr>
		<h3><u><a name="grafico1"></a>Gráfico 1 - Forma de Ingresso</u></h3>
		<p>
			<img id="img_grafico1" src="{% static 'images/suporte/img_grafico1.png' %}" alt="Gráfico 1" class="imagem_suporte" onclick="abrirModal(this)">
			O Gráfico 1 mostra o percentual de alunos em cada uma das formas de ingresso possíveis no SIGAA. <br><br>

			São considerados na contagem apenas alunos cujo status seja <i>"ATIVO"</i> ou <i>"FORMANDO"</i>. <br><br>

			As informações constantes no gráfico são filtradas de acordo com os filtros selecionados e nível de ensino escolhido. <br><br>

			As formas de ingresso disponíveis no SIGAA são:
			<ul>
				<li>1 -  ACESSO UNIVERSAL;</li>
				<li>2 -  ENS. PUBLICO - RENDA INFERIOR PRETO PARDO INDIO PCD;</li>
				<li>3 -  ENS. PUBLICO - RENDA INFERIOR PRETO PARDO INDIO;</li>
				<li>4 -  ENS. PUBLICO - RENDA INFERIOR PCD;</li>
				<li>5 -  ENS. PUBLICO - RENDA INFERIOR;</li>
				<li>6 -  ENS. PUBLICO - RENDA SUPERIOR PRETO PARDO INDIO PCD;</li>
				<li>7 -  ENS. PUBLICO - RENDA SUPERIOR PRETO PARDO INDIO;</li>
				<li>8 -  ENS. PUBLICO - RENDA SUPERIOR PCD;</li>
				<li>9 -  ENS. PUBLICO - RENDA SUPERIOR;</li>
				<li>10 - PORTADOR DEFICIENCIA;</li>
				<li>11 - PROCESSO ESPECIAL - INDIGENA.</li>
			</ul>
			Para saber mais detalhes sobre qual a definição de cada uma das formas de ingresso e os critérios para categorização dos alunos nessas formas de ingresso, entre em contato com o setor de registros acadêmicos. <br><br>

			A título de conhecimento, o quantitativo total desse gráfico deve ser igual à fatia de alunos ativos + formandos do <a href="#grafico2">Gráfico 2</a>. <br><br>
			<p class="alinha_direita"><a href="#topo">Voltar ao Topo</a></p>
		</p>
	</div>

	<div class="itens_suporte">
		<hr>
		<h3><u><a name="grafico2"></a>Gráfico 2 - Status dos Discentes</u></h3>
		<p>
			<img id="img_grafico2" src="{% static 'images/suporte/img_grafico2.png' %}" alt="Gráfico 2" class="imagem_suporte" onclick="abrirModal(this)">
			O Gráfico 2 mostra o percentual de alunos em cada um dos status possíveis no SIGAA. <br><br>

			As informações constantes no gráfico são filtradas de acordo com os filtros selecionados e nível de ensino escolhido. <br><br>

			Os status disponíveis no SIGAA são:
			<ul>
				<li>DESCONHECIDO;</li>
				<li>ATIVO;</li>
				<li>CADASTRADO;</li>
				<li>CONCLUÍDO;</li>
				<li>TRANCADO;</li>
				<li>CANCELADO;</li>
				<li>NÃO CADASTRADO;</li>
				<li>EM HOMOLOGAÇÃO;</li>
				<li>DEFENDIDO;</li>
				<li>PENDENTE DE CADASTRO;</li>
				<li>ATIVO - DEPENDÊNCIA;</li>
				<li>FORMANDO;</li>
				<li>FORMADO;</li>
				<li>PRE_CADASTRADO;</li>
				<li>FALECIDO.</li>
			</ul>
			Para saber mais detalhes sobre qual a definição de cada um dos status e os critérios para categorização dos alunos nesses status, entre em contato com o setor de registros acadêmicos.
			<p class="alinha_direita"><a href="#topo">Voltar ao Topo</a></p>
		</p>
	</div>

	<div class="itens_suporte">
		<hr>
		<h3><u><a name="grafico3"></a>Gráfico 3 - Quantidade de Disciplinas em que os Alunos se Matricularam</u></h3>
		<p>
			<img id="img_grafico3" src="{% static 'images/suporte/img_grafico3.png' %}" alt="Gráfico 3" class="imagem_suporte" onclick="abrirModal(this)">
			O Gráfico 3 mostra a quantidade de alunos (eixo vertical) que estão matriculados em um total (eixo horizontal) de disciplinas. <br><br>

			O objetivo do gráfico é demostrar de forma visual qual a carga de disciplinas dos alunos, no sentido de mostrar ao gestor quantas disciplinas em média os alunos estão matrículados em um determinado campus/período/curso. <br><br>

			As informações constantes no gráfico são filtradas de acordo com os filtros selecionados e nível de ensino escolhido, além de serem consideradas na contagem apenas matrículas cujos alunos estejam com status <i>"ATIVO"</i> ou <i>"FORMANDO"</i> e cujo status da matrícula nas disciplinas seja:	
			<ul>
				<li>MATRICULADO;</li>
				<li>APROVADO;</li>
				<li>APROVADO POR NOTA;</li>			
				<li>CERTIFICAÇÃO DE CONHECIMENTO;</li>
				<li>APROVEITAMENTO DE ESTUDOS;</li>
				<li>REPROVADO;</li>
				<li>REPROVADO POR FALTAS;</li>
				<li>REPROVADO POR MÉDIA E POR FALTAS;</li>
				<li>REPROVADO POR NOTA;</li>
				<li>REPROVADO POR NOTA E FALTA;</li>
				<li>REPROVADO EM TODO PERÍODO LETIVO.</li>
			</ul>
			Para saber mais detalhes sobre qual a definição de cada um dos status das matrículas nas disciplinas e os critérios para categorização das matriculas nesses status, entre em contato com o setor de registros acadêmicos.
			<p class="alinha_direita"><a href="#topo">Voltar ao Topo</a></p>
		</p>
	</div>

	<div class="itens_suporte">
		<hr>
		<h3><u><a name="grafico4"></a>Gráfico 4 - Jubilados, em Vias de Jubilar e Formandos</u></h3>
		<p>
			<img id="img_grafico4" src="{% static 'images/suporte/img_grafico4.png' %}" alt="Gráfico 4" class="imagem_suporte" onclick="abrirModal(this)">
			O Gráfico 4 mostra três tipos de informações diferentes. <br><br>
			<ul>
				<li>
					<b>Alunos Jubilados: </b> Mostra a quantidade de alunos que estão jubilados (alunos que passaram do prazo de conclusão padrão definido para o seu curso) no campus/período/curso/turma e nível de ensino selecionados. <br><br>
				</li>
				<li>
					<b>Alunos em Vias de Jubilar: </b> Mostra a quantidade de alunos que estão no semestre limite para conclusão padrão definido para o seu curso, no campus/período/curso/turma e nível de ensino selecionados e que não estão matriculados em todas as disciplinas pendentes do currículo. <br><br>
				</li>
				<li>
					<b>Alunos Formandos: </b> Mostra a quantidade de alunos que são formandos no campus/período/curso/turma e nível de ensino selecionados. <br>
				</li>
			</ul>
			<p class="alinha_direita"><a href="#topo">Voltar ao Topo</a></p>
		</p>
	</div>

	<div class="itens_suporte">
		<hr>
		<h3><u><a name="grafico5"></a>Gráfico 5 - Tamanho da(s) Turma(s)</u></h3>
		<p>
			<img id="img_grafico5" src="{% static 'images/suporte/img_grafico5.png' %}" alt="Gráfico 5" class="imagem_suporte" onclick="abrirModal(this)">
			O Gráfico 5 mostra o tamanho das turmas em número de alunos matriculados. <br><br>

			A linha vermelha representa a média de tamanho das turmas, dessa forma é possível constatar de maneira visual as turmas que estão abaixo ou acima do tamanho médio. <br><br>

			As informações constantes no gráfico são filtradas de acordo com os filtros selecionados e nível de ensino escolhido, além de serem consideradas na contagem apenas matrículas de alunos cujo status seja <i>"ATIVO"</i> ou <i>"FORMANDO"</i> e cujo status da matrícula nas disciplinas seja:	
			<ul>
				<li>MATRICULADO;</li>
				<li>APROVADO;</li>
				<li>APROVADO POR NOTA;</li>
				<li>CERTIFICAÇÃO DE CONHECIMENTO;</li>
				<li>APROVEITAMENTO DE ESTUDOS;</li>
				<li>REPROVADO;</li>
				<li>REPROVADO POR FALTAS;</li>
				<li>REPROVADO POR MÉDIA E POR FALTAS;</li>
				<li>REPROVADO POR NOTA;</li>
				<li>REPROVADO POR NOTA E FALTA;</li>
				<li>REPROVADO EM TODO PERÍODO LETIVO.</li>
			</ul>
			Para saber mais detalhes sobre qual a definição de cada um dos status das matrículas nas disciplinas e os critérios para categorização das matriculas nesses status, entre em contato com o setor de registros acadêmicos.
			<p class="alinha_direita"><a href="#topo">Voltar ao Topo</a></p>
		</p>
	</div>

	<div class="itens_suporte">
		<hr>
		<h3><u><a name="grafico6"></a>Gráfico 6 - Discentes Evadidos por Disciplina</u></h3>
		<p>
			<img id="img_grafico6" src="{% static 'images/suporte/img_grafico6.png' %}" alt="Gráfico 6" class="imagem_suporte" onclick="abrirModal(this)">
			O Gráfico 6 mostra a quantidade de alunos evadidos por disciplina. <br><br>

			As informações constantes no gráfico são filtradas de acordo com os filtros selecionados e nível de ensino escolhido, além de serem consideradas na contagem apenas matrículas cujo status da matrícula seja <i>"CANCELADO"</i>. <br><br>

			Importante destacar que não existe no SIGAA um status específico para evasão em disciplinas ou curso. Dessa forma, a orientação é que os responsáveis pelos registros acadêmicos cadastrem o status <i>"CANCELADO"</i> para os casos de evasão em disciplinas e curso. Entretando, é essencial fazer a ressalva que outras motivações, que não sejam apenas evasão, podem incitar o cancelamento da disciplina. Nesses casos a acuracidade desse gráfico pode ser comprometida.
			<p class="alinha_direita"><a href="#topo">Voltar ao Topo</a></p>
		</p>
	</div>

	<div class="itens_suporte">
		<hr>
		<h3><u><a name="grafico7"></a>Gráfico 7.1 e 7.2 - Notas Parciais Unidade 1 e 2</u></h3>
		<p>
			<img id="img_grafico7" src="{% static 'images/suporte/img_grafico7.png' %}" alt="Gráfico 7" class="imagem_suporte" onclick="abrirModal(this)">
			Os Gráficos 7.1 e 7.2 mostram o percentual de alunos cuja nota final da unidade está acima (<i>nota_final_unidade >= 7</i>) e abaixo (<i>nota_final_unidade < 7</i>) da média 7 na Unidade 1 (gráfico 7.1) e na Unidade 2 (gráfico 7.2). <br><br>

			Importante ressaltar que a nota final da unidade utilizada nesses gráficos é a nota da unidade após a recuperação paralela. <br><br>

			A imagem abaixo explicita visualmente qual a nota considerada nesses gráficos: <br><br>
			<br><img id="img_adicional_grafico7" src="{% static 'images/suporte/img_adicional_grafico7.png' %}" alt="Notas Parciais em Destaque" class="centraliza_imagem" onclick="abrirModal(this)"><br><br>

			As informações constantes nos gráficos são filtradas de acordo com os filtros selecionados e nível de ensino escolhido, além de serem considerados apenas alunos cujo status seja <i>"ATIVO"</i> ou <i>"FORMANDO"</i> e cujo status da matrícula nas disciplinas seja:	
			<ul>
				<li>MATRICULADO;</li>
				<li>APROVADO;</li>
				<li>APROVADO POR NOTA;</li>
				<li>CERTIFICAÇÃO DE CONHECIMENTO;</li>
				<li>APROVEITAMENTO DE ESTUDOS;</li>
				<li>REPROVADO;</li>
				<li>REPROVADO POR FALTAS;</li>
				<li>REPROVADO POR MÉDIA E POR FALTAS;</li>
				<li>REPROVADO POR NOTA;</li>
				<li>REPROVADO POR NOTA E FALTA;</li>
				<li>REPROVADO EM TODO PERÍODO LETIVO.</li>
			</ul>
			Para saber mais detalhes sobre qual a definição de cada um dos status das matrículas nas disciplinas e os critérios para categorização das matriculas nesses status, entre em contato com o setor de registros acadêmicos. <br><br>

			Dependendo do momento no semestre os gráficos podem aparecer sem informações. Isso acontece quando as notas das unidades ainda não foram lançadas no SIGAA.
			<p class="alinha_direita"><a href="#topo">Voltar ao Topo</a></p>
		</p>
	</div>

	<div class="itens_suporte">
		<hr>
		<h3><u><a name="grafico8"></a>Gráfico 8 - Médias Finais</u></h3>
		<p>
			<img id="img_grafico8" src="{% static 'images/suporte/img_grafico8.png' %}" alt="Gráfico 8" class="imagem_suporte" onclick="abrirModal(this)">
			O Gráfico 8 mostra o percentual de alunos cuja média final (ou resutado) do semestre está acima (<i>media_final >= 5</i>) e abaixo (<i>media_final < 5</i>) da média 5. <br><br>

			Importante ressaltar que a média final utilizada nesse gráfico é a média obtida após realilzação do exame. <br><br>

			A imagem abaixo explicita visualmente qual a nota considerada nesse gráfico: <br><br>
			<br><img id="img_adicional_grafico8" src="{% static 'images/suporte/img_adicional_grafico8.png' %}" alt="Médias Finais em Destaque" class="centraliza_imagem" onclick="abrirModal(this)"><br><br>

			As informações constantes no gráfico são filtradas de acordo com os filtros selecionados e nível de ensino escolhido, além de serem considerados apenas alunos cujo status seja <i>"ATIVO"</i> ou <i>"FORMANDO"</i> e cujo status da matrícula nas disciplinas seja:	
			<ul>
				<li>MATRICULADO;</li>
				<li>APROVADO;</li>
				<li>APROVADO POR NOTA;</li>
				<li>CERTIFICAÇÃO DE CONHECIMENTO;</li>
				<li>APROVEITAMENTO DE ESTUDOS;</li>
				<li>REPROVADO;</li>
				<li>REPROVADO POR FALTAS;</li>
				<li>REPROVADO POR MÉDIA E POR FALTAS;</li>
				<li>REPROVADO POR NOTA;</li>
				<li>REPROVADO POR NOTA E FALTA;</li>
				<li>REPROVADO EM TODO PERÍODO LETIVO.</li>
			</ul>
			Para saber mais detalhes sobre qual a definição de cada um dos status das matrículas nas disciplinas e os critérios para categorização das matriculas nesses status, entre em contato com o setor de registros acadêmicos. <br><br>

			Dependendo do momento no semestre o gráfico pode aparecer sem informações. Isso acontece quando as notas das unidades e do exame ainda não foram lançadas no SIGAA.
			<p class="alinha_direita"><a href="#topo">Voltar ao Topo</a></p>
		</p>
	</div>

	<div class="itens_suporte">
		<hr>
		<h3><u><a name="grafico9"></a>Gráfico 9 - Discentes em Exame</u></h3>
		<p>
			<img id="img_grafico9" src="{% static 'images/suporte/img_grafico9.png' %}" alt="Gráfico 9" class="imagem_suporte" onclick="abrirModal(this)">
			O Gráfico 9 mostra o percentual de alunos que estão em exame. <br><br>

			A imagem abaixo explicita visualmente quais alunos são considerados nesse gráfico: <br><br>

			<br><img id="img_adicional_grafico9" src="{% static 'images/suporte/img_adicional_grafico9.png' %}" alt="Alunos em Exame em Destaque" class="centraliza_imagem" onclick="abrirModal(this)"><br><br>

			As informações constantes no gráfico são filtradas de acordo com os filtros selecionados e nível de ensino escolhido, além de serem considerados apenas alunos cujo status seja <i>"ATIVO"</i> ou <i>"FORMANDO"</i>. <br><br>

			Dependendo do momento no semestre o gráfico pode aparecer sem informações. Isso acontece quando as médias finais ainda não foram calculadas no SIGAA.
			<p class="alinha_direita"><a href="#topo">Voltar ao Topo</a></p>
		</p>
	</div>

	<div class="itens_suporte">
		<hr>
		<h3><u><a name="grafico10"></a>Gráfico 10 - Aprovados e Reprovados</u></h3>
		<p>
			<img id="img_grafico10" src="{% static 'images/suporte/img_grafico10.png' %}" alt="Gráfico 10" class="imagem_suporte" onclick="abrirModal(this)">
			O Gráfico 10 mostra o percentual de alunos aprovados e reprovados nas disciplinas em qualquer status de aprovação ou reprovação conforme listagem abaixo. <br><br>

			As informações constantes no gráfico são filtradas de acordo com os filtros selecionados e nível de ensino escolhido, além de serem considerados apenas alunos cujo status seja <i>"ATIVO"</i> ou <i>"FORMANDO"</i> e cujo status da matrícula nas disciplinas seja:	
			<ul>
				<li>MATRICULADO;</li>
				<li>APROVADO;</li>
				<li>APROVADO POR NOTA;</li>
				<li>CERTIFICAÇÃO DE CONHECIMENTO;</li>
				<li>APROVEITAMENTO DE ESTUDOS;</li>
				<li>REPROVADO;</li>
				<li>REPROVADO POR FALTAS;</li>
				<li>REPROVADO POR MÉDIA E POR FALTAS;</li>
				<li>REPROVADO POR NOTA;</li>
				<li>REPROVADO POR NOTA E FALTA;</li>
				<li>REPROVADO EM TODO PERÍODO LETIVO.</li>
			</ul>
			Para saber mais detalhes sobre qual a definição de cada um dos status e os critérios para categorização das matriculas nesses status, entre em contato com o setor de registros acadêmicos. <br><br>

			Dependendo do momento no semestre o gráfico pode aparecer sem informações. Isso acontece quando as notas das unidades e do exame ainda não foram lançadas no SIGAA.
			<p class="alinha_direita"><a href="#topo">Voltar ao Topo</a></p>
		</p>
	</div>

	<div class="itens_suporte">
		<hr>
		<h3><u><a name="grafico11"></a>Gráfico 11 - Status nas Disciplinas</u></h3>
		<p>
			<img id="img_grafico11" src="{% static 'images/suporte/img_grafico11.png' %}" alt="Gráfico 11" class="imagem_suporte" onclick="abrirModal(this)">
			O Gráfico 11 mostra o percentual de alunos em cada um dos possíveis status de matrícula nas disciplinas no SIGAA. <br><br>

			As informações constantes no gráfico são filtradas de acordo com os filtros selecionados e nível de ensino escolhido, além de serem considerados apenas alunos cujo status seja <i>"ATIVO"</i> ou <i>"FORMANDO"</i>. <br><br>

			Os possíveis status de matrículas em disciplinas no SIGAA são:
			<ul>
				<li>AGUARDANDO DEFERIMENTO;</li>
				<li>APROVEITAMENTO DE  ESTUDOS;</li>
				<li>APROVADO;</li>
				<li>APROVADO POR NOTA;</li>
				<li>CANCELADO;</li>
				<li>CERTIFICAÇÃO DE CONHECIMENTO;</li>
				<li>CONCLUIDO;</li>
				<li>DESISTENCIA;</li>
				<li>DISPENSADO;</li>
				<li>EM ESPERA;</li>
				<li>EXCLUIDA;</li>
				<li>INCORPORADO;</li>
				<li>INDEFERIDO;</li>
				<li>MATRICULADO;</li>
				<li>NÃO CONCLUÍDO;</li>
				<li>REPROVADO;</li>
				<li>REPROVADO EM TODO PERÍODO LETIVO;</li>
				<li>REPROVADO POR FALTAS;</li>
				<li>REPROVADO POR MÉDIA E POR FALTAS;</li>
				<li>REPROVADO POR NOTA;</li>
				<li>REPROVADO POR NOTA E FALTA;</li>
				<li>TRANCADO;</li>
				<li>TRANSFERIDO.</li>
			</ul>
			Para saber mais detalhes sobre qual a definição de cada um dos status e os critérios para categorização das matriculas nesses status, entre em contato com o setor de registros acadêmicos. <br><br>

			Por considerar todos os status possíveis, esse gráfico pode divergir do Gráfico 1, 2 e 5 porque neste caso são considerados os status de matrícula excluida, cancelada, trancada, etc.
			<p class="alinha_direita"><a href="#topo">Voltar ao Topo</a></p>
		</p>
	</div>

	<div class="itens_suporte">
		<hr>
		<h3><u><a name="grafico12"></a>Gráfico 12 - Percentuais de Frequência</u></h3>
		<p>
			<img id="img_grafico12" src="{% static 'images/suporte/img_grafico12.png' %}" alt="Gráfico 12" class="imagem_suporte" onclick="abrirModal(this)">
			O Gráfico 12 mostra o percentual de alunos em cada uma dos 8 intervalos de percentuais de frequência definidos. <br><br>

			Os 8 intervalos de percentuais de frequência definidos são:
			<ul>
				<li><b>Alunos com percentual de frequência = 100%;</b></li>
				<li><b>Alunos com percentual de frequência < 100% e >= 95%;</b></li>
				<li><b>Alunos com percentual de frequência < 95% e >= 90%;</b></li>
				<li><b>Alunos com percentual de frequência < 90% e >= 85%;</b></li>
				<li><b>Alunos com percentual de frequência < 85% e >= 80%;</b></li>
				<li><b>Alunos com percentual de frequência < 80% e >= 75%;</b></li>
				<li><b>Alunos com percentual de frequência < 75%;</b></li>
				<li><b>Alunos sem percentual de frequência.</b></li>
			</ul>

			As informações constantes no gráfico são filtradas de acordo com os filtros selecionados e o nível de ensino escolhido, além de serem considerados apenas alunos cujo status seja <i>"ATIVO"</i> ou <i>"FORMANDO"</i> e cujo status da matrícula nas disciplinas seja:	
			<ul>
				<li>MATRICULADO;</li>
				<li>APROVADO;</li>
				<li>APROVADO POR NOTA;</li>
				<li>CERTIFICAÇÃO DE CONHECIMENTO;</li>
				<li>APROVEITAMENTO DE ESTUDOS;</li>
				<li>REPROVADO;</li>
				<li>REPROVADO POR FALTAS;</li>
				<li>REPROVADO POR MÉDIA E POR FALTAS;</li>
				<li>REPROVADO POR NOTA;</li>
				<li>REPROVADO POR NOTA E FALTA;</li>
				<li>REPROVADO EM TODO PERÍODO LETIVO.</li>
			</ul>
			Para saber mais detalhes sobre qual a definição de cada um dos status e os critérios para categorização das matriculas nesses status, entre em contato com o setor de registros acadêmicos. <br><br>
			<p class="alinha_direita"><a href="#topo">Voltar ao Topo</a></p>	
		</p>
	</div>

	<div class="itens_suporte">
		<hr>
		<h3><u><a name="contato"></a>Contato</u></h3>
		<p>
			Caso deseje entrar em contato para esclarecer mais dúvidas, reportar problemas ou fazer críticas e sugestões, entre em contato pelo e-mail <a href="mailto:cristian.gusberti@ifrs.edu.br">cristian.gusberti@ifrs.edu.br</a> ou telefone (54) 3449-3328.
			<p class="alinha_direita"><a href="#topo">Voltar ao Topo</a></p>
		</p>
	</div>

	<!-- Modal -->
	<div id="modal_suporte" class="modal_suporte">

	  <!-- Botão fechar -->
	  <span class="close_modal_suporte">&times;</span>

	  <!-- Conteúdo Modal (imagem) -->
	  <img class="modal_suporte_content" id="imgModal">

	  <!-- Legenda Modal (texto do alt) -->
	  <div id="caption"></div>
	</div>
</div>

<script>
	$(document).ready(function(){ //define a altura do menu lateral ao carregar a página
		alterarAlturaMenuLateral("dashboards");
	});

  	function abrirModal(img){ //Passando como parâmetro a própria tag <img> da imagem clicada

    	//Pegando os elementos
        //<div> principal com id "modal_suporte".
		let modal_suporte = document.getElementById("modal_suporte");
        //tag <img> que irá receber a imagem clicada.
        let modalImg = document.getElementById("imgModal");
        //<div> que recebe o texto relacionado com a imagem, o texto está no alt de cada imagem
        let legenda = document.getElementById("caption");
        //tag <span> que contém a letra "x" que será usada para fechar a janela modal
        let btn_fechar = document.getElementsByClassName("close_modal_suporte")[0];

        //Configura <div> em "block" para que fique visível, inicialmente no CSS este display é none
        modal_suporte.style.display = "block";
        //Captura o src da imagem clicada e passa a tag <img> que tem id="imgModal"
        modalImg.src = img.src;
        //Captura o alt da imagem clicada e passa a tag <img> que tem id="imgModal"
        modalImg.alt = img.alt;
        //Insere o texto do parâmetro alt da imagem dentro da <div> com id="caption"
        legenda.innerHTML = img.alt;

        //Função do evento onclick do <span> que usa a classe CSS "close_modal_suporte"
        btn_fechar.onclick = function(){
        	closeModal(modal_suporte); //em funcoesGerais.js
        }

        //Fecha o modal quando clicar fora
		window.addEventListener('click', function(event) {outsideClick(event, modal_suporte);});
 	}
</script>
{% endblock %}